/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|Cabin);
body{margin:0}
.container{width:100%;}
.upper_container{width:100%;background:#ffffff;border:0 none;}
.lower_container{width:100%;height:auto;background:#98b2d1;border:0px solid #fff;}
.header{width:987px;height:64px;margin:20px auto;border:0px solid red;}
.body_area{width:987px;height:auto;margin:10px auto;border:0px solid red;}
.logo{width:230px;float:left;border:0px solid orange;}
.menu{width:630px;height:50px;border:0px solid blue;float:right;}
.menu_ul{
list-style-type: none;
margin: 15px;
padding: 0;
}
.menu_li{
display: inline;
margin:8px;
}
.menu_link{
color:#acaaaa;
text-decoration:none;
font-size:14px;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.menu_link:hover{color: #93acca;}
.menu_selected{color:#7496c0}
.mobile_menu{display:none;}
.left_contact{float:left;}
.right_contact{float:right}
.customer_rn{color:#fff;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.customer_rn_vl{color:#93acca;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.error font{  margin-left: -136px;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.error {font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;  color: #cc0000;}
/* ==== footer ===*/
.footer_area{width:100%;height:115px;background:#464849;margin:0px;clear:both;}
.upper_footer{display:none;width:100%;height:102px;background:#464849;margin:0px;}
.lower_footer{width:100%;height:102px;background:#3f3f41;margin:0px;border-top:2px solid #595b5c}
.upper_footer_wrapper{width:987px;border:0px solid red;margin:10px auto;height:100px;}
.lower_footer_wrapper{width:987px;border:0px solid blue;margin:10px auto;height:82px;}
.footer_left{float:left;margin:29px auto;}
.footer_right{float:right;width:400px;margin:30px auto;}
.footer_social_wrapper{margin-left:5px;}
.social_logos{cursor:pointer}
.footer_address{
color: #fff;
width: 540px;
margin: 4px auto;
font-size: 11px;
display: inline-block;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.footer_sep{color:#fff}
.footer_menu{
list-style-type: none;
margin: 0px;
padding: 0;
}
.footer_menu li{
display: inline;
margin:10px;
}
.footer_menu li a {
color:#fff;
text-decoration:none;
font-size:13px;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.footer_menu li a:hover{color: #93acca;}
.content_area_center{width:900px;margin:30px;margin-bottom:0px;}
.content_area_left{border:0px solid red;width:490px;float:left;height:auto;margin:30px;margin-bottom: 0px;margin-top:0px;}
.content_area_right{border:0px solid blue;width:380px;float:right;height:auto;margin:20px;margin-bottom: 0px;margin-top:0px;}
.content_subarea_right{margin:114px auto;}
.content_subarea_right_min{margin:62px auto;}
.content_heading{color:#678dbb;font-size: 20px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.content_subheading{color:#666666;font-size: 15px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}

/*==== form ===*/
.field_wrapper{margin:15px;width:340px;height:auto;}
.large_wrapper{width:480px;}
.form_label{color:#7496c0;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.form_fields{border:1px solid #cecdcd;background:#f1f1f1;height:30px;width:330px;line-height:30px;margin-top:8px;padding-left:5px;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;color: #555;}
.select_mini{border:1px solid #cecdcd;background:#f1f1f1;height:30px;line-height:30px;margin-top:8px;padding-left:5px;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;color: #555;}
.select_field{border:1px solid #cecdcd;background:#f1f1f1;height:33px;width:337px;line-height:33px;margin-top:8px;padding-left:5px;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;color: #555;}
.min_field{width:165px}
.left_marg{margin-left:-64px}
.custom_width{width:480px;}
/*.submit_btn{cursor:pointer;width:130px;height:47px;padding:5px;background:#678dbb;border-radius:5px;color:#fff;font-weight:bold;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif}
.clear_btn{cursor:pointer;float:right;width:130px;height:47px;padding:5px;background:#464849;border-radius:5px;color:#fff;font-weight:bold;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif}*/

.submit_btn{cursor:pointer;padding:10px;background:#678dbb;color:#fff;font-weight:bold;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;border: 1px solid #cecdcd}
.clear_btn{cursor:pointer;padding:10px;background:#464849;color:#fff;font-weight:bold;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;border: 1px solid #cecdcd}

.submit_btn:hover{background: #acaaaa;}
.clear_btn:hover{background: #acaaaa;}
.button_wrapper{margin:0px;padding:0px;width:300px;clear:both;margin:44px;}


.captcha_code{
background: #f1f1f1;
padding: 5px;
text-align: center;
border:1px solid #cecdcd;
}
.cant_see{color:#666666;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;color:#555}
.cant_see a{text-decoration:none;color:#7496c0;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
/*======change password ======== */
.logout_area{width:987px;height:auto;}
.contact_area{width:987px;height:43px;border:1px solid #464849;clear:both;background:#464849}
.content_area{width:987px;height:auto;clear:both;background:#fff;margin:30px auto;float:left;margin-bottom: 10px;}
#senderRegistrationForm{width:987px;height:auto;clear:both;background:#fff;float:left;margin-bottom: 10px;}
.contact_subarea{width:850px;margin:10px auto;}
.heading{color:#ffffff;float:left;font-size: 18px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.logout{float:right;margin-right:2%;margin-bottom: 10px;}
.logout_link{float:left;font-size:20px;font-weight:bold;color:#fff;text-decoration:none;  line-height: 58px;}
.logout img{float:left;margin-left:10px}
.logout a{font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
/*.info_change_password{width:335px;height:94px;background:#678dbb;padding:0px;margin:120px auto;}
.info_change_password p{color:#fff;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;width:300px;margin:10px auto;margin:24px;position:absolute;}*/
.logout a:hover{}
.info_change_password{background:#678dbb;padding:10px;margin:120px auto;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.info_change_password p{color:#fff;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;margin:10px auto;text-align:center;}

.modified_info{background:#678dbb;padding:0px;margin:49px auto;padding:10px;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.modified_text{color:#fff;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;margin:10px auto;font-size:14px;text-align:center;line-height: 20px;}

/* ============ contact us page ======== */
.contact_head{color:#666666;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.contact_desc{color:#7496c0;font-weight:bold;font-size: 13px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
/* ====== media ====== */
.media-heading {
margin-top: 0;
margin-bottom: 5px;
}
.media-body, .media-left, .media-right {
display: table-cell;
vertical-align: top;

}
.media-body{padding-left: 8px;}

/* ========= Beneficiaries ======= */
.head_td{color:#7496c0;font-weight:bold;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.desc_td{border:1px solid #cecdcd;background:#f1f1f1;height:30px;line-height:30px;margin-top:8px;padding:8px;color:#474747;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.table_area{margin:15px;}
.showing_pag,.showing_pag a{font-size: 12px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;color:#666666;}
.desc_tr{}
.tbl_edit_link{text-decoration:none;color:#474747}
.tbl_create_link{text-decoration:none;color:#474747}
.desc_td a{color:#474747;text-decoration:none;font-size: 14px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.desc_td a:hover{text-decoration:underline}
/* ========= FAQS area ========= */
.questions_area{margin:30px;}
.question_heading{color:#7496c0;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:20px;}
.question_answer{color:#666666;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;}
.error_msg{background: #98b2d1;;width:700px;margin:15px auto;;padding:5px;clear:both;text-align:center;color:#fff;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:14px;}
.font_style{}
.less_margin{margin-top:10px;}
.modified_transaction_right{width:230px;float:left;margin-top:10px;}
.modified_transaction_left{width:420px;}
.modified_transaction_center{width:216px;float:left;}

.tip{text-decoration:none;color:grey;}


.faqs_list{

}
.faqs_list li {line-height: 30px;color: #7496c0;}
.faqs_list li a{color:#666666;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:14px;text-decoration:none; }
.faqs_list li a:hover{text-decoration:underline}
.back_top a{text-decoration:none;color:#7496c0;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:13px;}
.back_top a:hover{text-decoration:underline}


.bottom_info{clear: both;
font-size: 12px;
margin: 5px auto;
width: 893px;
margin-bottom: 10px;
color:#666666;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.calender_bg{
background-image: url('../images/calendar-icon.png');
background-repeat: no-repeat;
background-position: right 5px center; 
background-size: 20px 20px;
}


.dp-choose-date{color:#98b2d1;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:13px;text-decoration:none;display:none;}
.dp-popup{top: 2255px;}
#fileUploader {
  display: none;
  margin: 8px 0 0 10px;
  float: left;
}
/* .dp-choose-date:hover{text-decoration:underline} */
.position_btn{
width: 200px;
/* border: 1px solid red; */
clear: both;
position: relative;
top: 20;
left: 125px;
top: -83px;
z-index: 9999;
}
/* ===== firefox only margin setting == */
@-moz-document url-prefix() {
    .position_btn{
width: 200px;
/* border: 1px solid red; */
clear: both;
position: relative;
top: 20;
left: 125px;
top: -85px;
z-index: 9999;
}
}
/* ====== MAKE TRANSACTION ======= */
.rate_info{color:#666666;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size: 22px;width:137px;}
.rate_info_label{font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size: 18px;width:125px;display:inline-block;}
.margin_400{width:420px;margin-top:40px;}
.margin_10{margin-top:10px !important;} 
.margin_less{background:#678dbb;padding:10px;margin:30px auto;}
.margin_min{margin-top:75px;}
.margin_45{margin-top:45px;}
.margin_52{margin-top:52px;}
.margin_27{margin-top:27px;}
.margin_0{margin: 0px auto;}
.heading_beneficiary{color:#666666;font-size: 18px;font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.please_do{font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica;color: #FF0000;font-size:13px;}
.info_para{font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica;color:#666666;font-size:14px;  line-height: 20px;}
/* ========= REGISTERATION PAGE  == */
.reg_table{margin:13px;}

.reg_title{width:60px;float:left;}
.reg_title select{height:33px;line-height:33px;}
.reg_forname{width:240px;float:left;}
.reg_forname input{width:240px;}
/*============== CUSTOM SETTINGS =========== */
.passport_fields{width:360px !important}
* {
    outline: none;
}
a img { border: none;outline : none; }




@media screen and (max-width: 1050px) {
    body {
      /*  background-color: blue; */
    }
	

}


@media screen and (max-width: 1020px) {
    body {
       /* background-color: red; */
	  
    } 
	
}

@media screen and (max-width: 768px) {
    body {
    /*  background-color: green; */
	 
    }
		
}

@media screen and (max-width: 350px) {
    body {
    /*  background-color: green; */
    }
}