/* Basic colours */

.error {
    color: #990000;
    background: #ededed;
}
.mainHeader {
    color: #ffffff;
    background: #c0c0c0;
}

.subHeader {
    color: #000066;
    background: #dfe6ea;
}

.subHeaderBorder {
    color: #ffffff;
    background: #000000;
}

.tableContent {
    color: #005b90;
    background: #ededed;
}
