/* GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Cabin);

/* GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Cabin);

/* BOF STANDARD STUFF */


#content_one .body_text * {
	color:#9d9d98;
	font-family:'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight:400;
	font-size:13px;
	line-height:20px;
	letter-spacing:0;
	/* CHROME! STOP IT */
	resize:none;
	outline:none;
}
#content_one .body_text .banner_cont{
	margin:0 auto;
	width:680px;
}
#content_one .body_text .banner{
	background:url('../images/faq_bannner.png') left top no-repeat;
	height:170px;
	left:-5px;
	margin:0px 0px 30px 0px;
	position:relative;
	padding:20px 0px 0px 25px;
	width:665px;
}
#content_one .body_text .banner_txt{
	width:360px;
}
#content_one .body_text a {
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	text-decoration:none;
}

#content_one .body_text a:hover {
	text-decoration:underline;
}


#content_one .body_text input,#content_one .body_text select,#content_one .body_text option,#content_one .body_text textarea{

	line-height:normal;
}
#content_one .body_text fieldset {
	border:1px solid #9d9d98;
	margin:0px 0px 20px 0px;
	padding:15px 19px 19px 19px;
}

#content_one .body_text fieldset legend {

	font-weight:700;
	line-height:10px;
	margin:0px;
	padding:0px 4px 0px 4px;
}

#content_one .body_text form {
	margin:0px;
}

#content_one .body_text h1 {
	color:#e6a300;
	font-family:'Cabin';
	font-size:20px;
	font-weight:400;
	line-height:20px;
	margin:0px 0px 15px 0px;
}

#content_one .body_text h2 {
	color:#e6a300;
	font-family:'Cabin';
	font-size:16px;
	font-weight:400;
	line-height:16px;
	margin:0px 0px 5px 0px;
}

#content_one .body_text h3 {
	color:#e6a300;
	font-family:'Cabin';
	font-size:15px;
	font-weight:400;
	line-height:15px;
	margin:0px 0px 10px 0px;
}

#content_one .body_text hr {
	background:#c4c4c1;
	border:0px;
	border-top:1px solid #c4c4c1;
	clear:both;
	color:#c4c4c1;
	height:0px;
	margin:20px 0px 20px 0px;
}

#content_one .body_text img {
	border:0px;
}

#content_one .body_text ul {
	list-style-image:url(../images/faq/bull.png);
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
}

#content_one .body_text ol {
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
}

#content_one .body_text ol li {
	color:#e6a300;
	font-weight:bold;
}

#content_one .body_text ol li p {
	color:#9d9d98;
	font-weight:normal;
	margin:0px;
}

#content_one .body_text li {
	line-height:20px;
	margin:0px 0px 5px 0px;
	padding:0px;
}


#content_one .body_text p {
	margin:0px 0px 15px 0px;
}

#content_one .body_text span {
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}

#content_one .body_text small {
	font-size:12px;
}

#content_one .body_text strong {
	color:inherit;
	font-size:inherit;
	font-weight:700;
	line-height:inherit;
}

#content_one .body_text u {
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
	text-decoration:underline;
}

/* EOF STANDARD STUFF */

/* BOF NAMED DIV CLASSES */



#box_ylw {
	height:auto;
	margin:0px 0px 30px 35px;
	width:210px;
}

#box_ylw div.btm {
	background:url(../images/faq/bg_ybox_btm.png) left bottom no-repeat;
	height:20px;
	width:300px;
}

#box_ylw div.cntnt {
	background:url(../images/faq/bg_ybox_mid.png) left top repeat-y;
	height:auto;
	padding:0px 20px 5px 20px;
	width:170px;
}

#box_ylw div.cntnt ul {
	margin:0px 0px 0px 0px;
}

#box_ylw div.top {
	background:url(../images/faq/bg_ybox_top.png) left top no-repeat;
	height:20px;
	width:210px;
}

/* EOF NAMED DIV CLASSES */


/* BOF DOT CLASSES */
div#content_one .body_text {
	padding:0px 0px 0px 0px;
}
div#content_one .body_text_gry {
	background:#e6e6e5;
	padding:40px 40px 40px 40px;
}


#content_one .gry {
	color:#9d9d98 !important;
	/*background:#e6e6e5;*/
}

#content_one .body_text hr.wht {
	background:#ffffff;
	border:0px;
	border-top:1px solid #ffffff;
	clear:both;
	color:#ffffff;
	height:0px;
	margin:20px 0px 20px 0px;
}

#content_one .body_text .l {
	float:left;
}

#content_one .body_text .nm {
	margin:0px;
}

#content_one .body_text .r {
	float:right;
}

#content_one .body_text .shim {
	clear:both;
	height:0px;
	margin:0px;
	overflow:hidden;
	padding:0px;
	width:0px;
}

#content_one .body_text .wht {
	color:#ffffff;
}

#content_one .body_text ul.wht {
	list-style-image:url(../images/faq/bull_white.png);
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
}

#content_one .body_text ul.wht li {
	color:#ffffff;
	line-height:20px;
	margin:0px 0px 5px 0px;
	padding:0px;
}

#content_one .body_text .ylw {
	color:#e6a300;
}

/* EOF DOT CLASSES */