/*=== MEDIA QUERIES FOR RESPONSIVE BEHAVIOURS === */

/* ================================================== WIDTH 1024PX =================================================== */

@media screen and (max-width: 1024px) {
body {
/* background-color: red; */
max-width: 1024px;
overflow-x: hidden;
} 
.container{width:100%; background: #98b2d1 none repeat scroll 0 0;}
.upper_container{width:100%;height:108px;background:#ffffff;border-top:1px solid #e6a510;}
.lower_container{width:100%;height:auto;background:#98b2d1;border:0px solid #fff;}
.header{width:97%;height:90px;margin:20px auto;border:0px solid red;}
.body_area{width:99%;height:auto;margin:10px auto;border:0px solid red;}
.content_area_center{width:97%;margin:30px;}
.logout_area{width:97%;height:auto;}
.contact_area{width:99%;height:43px;border:1px solid #464849;clear:both;background:#464849}
.content_area{width:99%;height:auto;clear:both;background:#fff;margin:30px auto;float:left;margin-bottom: 10px;}
.contact_subarea{width:97%;margin:10px auto;}
.footer_left{float:left;margin:29px auto;width:38%;margin-left: 10px;}
.footer_right{float:right;width:50%;margin:30px auto;}
.footer_social_wrapper{margin-left:5px;}
.social_logos{cursor:pointer}
.footer_address{
color: #fff;
width: 100%;
margin: 4px auto;
font-size: 11px;
display: inline-block;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.bottom_info {
clear: both;
font-size: 12px;
margin: 5px auto;
width: 95%;
margin-bottom: 10px;
color: #9d9b9b;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.modified_transaction_right {margin-top:12px;}
.modified_transaction_center{display:block;width: 200px;}
.content_area_right {width:350px;}
.content_area_left {width:265px;}
.field_wrapper{width:300px;}
.form_fields{width:280px}
.select_field{width:288px;}
.bottom_info{width:98%}
.error_msg{width:98%}
.content_subheading{width:98%}
.please_do {display:inline-block}
.info_change_password {}
.barclay_larg_area{width:480px;}
.barclay_larg_wrapper{width:480px;}
.margin_205{margin-top:212px;}
.iban_field{width:500px;}
.bal_in_label{width:180px;font-size:16px;}
.bal_in_value{font-size:16px;}

}

/* ================================================== WIDTH 900PX =================================================== */
@media screen and (max-width: 900px) {

body {
/* background-color: yellow; */
max-width: 900px;
overflow-x: hidden;
}

.container{width:100%;}
.upper_container{width:100%;height:108px;background:#ffffff;border-top:1px solid #e6a510;}
.lower_container{width:100%;height:auto;background:#98b2d1;border:0px solid #fff;}
.header{width:97%;height:90px;margin:20px auto;border:0px solid red;}
.body_area{width:99%;height:auto;margin:10px auto;border:0px solid red;}
.content_area_center{width:97%;margin:30px;}
.logout_area{width:97%;height:auto;}
.contact_area{width:99%;height:43px;border:1px solid #464849;clear:both;background:#464849}
.content_area{width:99%;height:auto;clear:both;background:#fff;margin:30px auto;float:left;margin-bottom: 10px;}
.contact_subarea{width:97%;margin:10px auto;}
.footer_left{float:left;margin:29px auto;width:36%;margin-left: 10px;}
.footer_right{float:right;width:60%;margin:30px auto;}
.footer_social_wrapper{margin-left:5px;}
.social_logos{cursor:pointer}
.footer_address{
color: #fff;
width: 100%;
margin: 4px auto;
font-size: 11px;
display: inline-block;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.modified_transaction_right{width:230px;float:left;margin-top:10px;}
.modified_transaction_left{width:390px;}
.bottom_info {
clear: both;
font-size: 12px;
margin: 5px auto;
width: 95%;
margin-bottom: 10px;
color: #9d9b9b;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.modified_transaction_right {margin-top:12px;}
.modified_transaction_center{display:none;}
.content_area_right {width:350px;}
.content_area_left {width:265px;}
.field_wrapper{width:300px;}
.form_fields{width:300px}
.select_field{width:300px;}
.bottom_info{width:98%}
.error_msg{width:98%}
.content_subheading{width:98%}
.please_do {display:inline-block}
.margin_10 {margin-top: 11px !important;}
.info_change_password{}
.barclay_larg_area{width:480px;}
.barclay_larg_wrapper{width:480px;}
.margin_205{margin-top:212px;}
.iban_field{width:500px;}
.bal_in_label{width:180px;font-size:16px;}
.bal_in_value{font-size:16px;}
}

/* ================================================== WIDTH 768PX =================================================== */
@media screen and (max-width: 768px) {
body {
/* background-color: green; */
max-width: 768px;
overflow-x: hidden;
}
.container{width:100%;}
.upper_container{width:100%;height:108px;background:#ffffff;border-top:1px solid #e6a510;}
.lower_container{width:100%;height:auto;background:#98b2d1;border:0px solid #fff;}
.header{width:97%;height:90px;margin:20px auto;border:0px solid red;}
.body_area{width:99%;height:auto;margin:10px auto;border:0px solid red;}
.content_area_center{width:97%;margin:30px;}
.logout_area{width:97%;height:auto;}
.contact_area{width:99%;height:43px;border:1px solid #464849;clear:both;background:#464849}
.content_area{width:99%;height:auto;clear:both;background:#fff;margin:30px auto;float:left;margin-bottom: 10px;}
.contact_subarea{width:97%;margin:10px auto;}
.footer_left{float:left;margin:29px auto;width:33%;margin-left: 10px;}
.footer_right{float:right;width:64%;margin:30px auto;}
.footer_social_wrapper{margin-left:5px;}
.social_logos{cursor:pointer}
.footer_address{
color: #fff;
width: 100%;
margin: 4px auto;
font-size: 11px;
display: inline-block;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.modified_transaction_right{width:230px;float:left;margin-top:10px;}
.modified_transaction_left{width:372px;}
.bottom_info {
clear: both;
font-size: 12px;
margin: 5px auto;
width: 95%;
margin-bottom: 10px;
color: #9d9b9b;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.content_area_right {width:280px;}
.content_area_left {width:265px;}
.field_wrapper{width:290px;}
.select_field{width:240px;}
.form_fields{width:230px}
.modified_transaction_center{display:none;}
.please_do {display:inline-block}
.modified_transaction_right {margin-top:12px;}

.custom_width{width:280px;}
.resp_label{display: inline-flex;width: 214px;}
.info_change_password{}
.captcha_code{width:228px;}
.barclay_larg_area{width:480px;}
.barclay_larg_wrapper{width:480px;}
.margin_205{margin-top:212px;}
.iban_field{width:400px;}
.bal_in_label{width:180px;font-size:16px;}
.bal_in_value{font-size:16px;}
}

/* ================================================== WIDTH 600PX =================================================== */
@media screen and (max-width: 600px) {

body {
/* background-color: orange; */
max-width: 600px;
overflow-x: hidden;
}

.container{width:100%;}
.upper_container{width:100%;height:108px;background:#ffffff;border-top:1px solid #e6a510;}
.lower_container{width:100%;height:auto;background:#98b2d1;border:0px solid #fff;}
.header{width:97%;height:90px;margin:20px auto;border:0px solid red;}
.body_area{width:99%;height:auto;margin:10px auto;border:0px solid red;}
.content_area_center{width:97%;margin:30px;}
.logout_area{width:97%;height:auto;}
.contact_area{width:99%;height:43px;border:1px solid #464849;clear:both;background:#464849}
.content_area{width:99%;height:auto;clear:both;background:#fff;margin:30px auto;float:left;margin-bottom: 10px;}
.footer_left{float:left;margin:29px auto;width:40%}
.footer_right{float:right;width:59%;margin:30px auto;}
.footer_social_wrapper{margin-left:5px;}
.social_logos{cursor:pointer}
.footer_address{
color: #fff;
width: 100%;
margin: 4px auto;
font-size: 11px;
display: inline-block;
font-family: 'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.modified_transaction_right{width:230px;float:left;margin-top:10px;}
.modified_transaction_left{width:390px;}
.content_area_right {width:90%;}
.content_area_left {width:265px;}
.field_wrapper{width:300px;}
.form_fields{width:230px}
.select_field{width:230px;}
.bottom_info{width:98%}
.error_msg{width:98%}
.content_subheading{width:98%}
.modified_transaction_center{display:none;}
.please_do {display:inline-block}
.modified_transaction_right {margin-top:12px;}
.custom_width{width:280px;}
.resp_label{display: inline-flex;width: 214px;}
.info_change_password{}
.captcha_code{width:228px;}
.iban_field{width:500px;}
.bal_in_label{width:180px;font-size:16px;}
.bal_in_value{font-size:16px;}
}

/* ================================================== WIDTH 480PX =================================================== */
@media screen and (max-width: 480px) {
body {
/* background-color: blue; */
max-width: 480px;
overflow-x: hidden;
}
.container{width:100%;}
.upper_container{width:100%;height:108px;background:#ffffff;border-top:1px solid #e6a510;}
.lower_container{width:100%;height:auto;background:#98b2d1;border:0px solid #fff;}
.header{width:97%;height:90px;margin:20px auto;border:0px solid red;}
.body_area{width:99%;height:auto;margin:10px auto;border:0px solid red;}
.content_area_center{width:97%;margin:30px;}
.logout_area{width:97%;height:auto;}
.contact_area{width:99%;height:43px;border:1px solid #464849;clear:both;background:#464849}
.content_area{width:99%;height:auto;clear:both;background:#fff;margin:30px auto;float:left;margin-bottom: 10px;}
.right_contact {
float: left; 
display: inline-block;
}
.logout {
float: left;
/* margin-right: 2%; */
display: inline-block;
clear: left;
}
.upper_container {height:auto;}
.header {height:158px;}
.lower_footer{height:285px;}
.menu {width:98%}
.menu_li {
display: inline-block;
}
.lower_footer_wrapper {width:100%}
.upper_footer_wrapper {width:100%}
.content_area_center {width:90%}
.contact_area {height:55px;}
.content_area_right {width:86%;}
.content_area_left {width:86%;}
.field_wrapper{width:300px;}
.select_field{width:230px;}
.captcha_code{width:228px;}

.form_fields{width:230px}
.modified_transaction_center{display:none;}
.please_do {display:inline-block}
.footer_right {width:36%}
.footer_menu {width:100%}
.footer_right {width: 100%;}
.footer_left {width:97%;margin-left:10px;}
.margin_400 {
width: 320px;
}

.rate_info{font-size:13px;}
.custom_width{width:280px;}
.resp_label{display: inline-flex;width: 214px;}
}


/* ================================================== WIDTH 320PX =================================================== */
@media screen and (max-width: 320px) {
body {
max-width: 320px;
overflow-x: hidden;
}
.container{width:100%;}
.upper_container{width:100%;height:108px;background:#ffffff;border-top:1px solid #e6a510;}
.lower_container{width:100%;height:auto;background:#98b2d1;border:0px solid #fff;}
.header{width:97%;height:90px;margin:20px auto;border:0px solid red;}
.body_area{width:99%;height:auto;margin:10px auto;border:0px solid red;}
.content_area_center{width:97%;margin:30px;}
.logout_area{width:97%;height:auto;}
.contact_area{width:99%;height:43px;border:1px solid #464849;clear:both;background:#464849}
.content_area{width:99%;height:auto;clear:both;background:#fff;margin:30px auto;float:left;margin-bottom: 10px;}
}