html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	/*background-color:#eee;*/
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
}
#wrapper{
	width:980px;
	margin:10px auto;
	/*border:1px solid #444;*/
	background-color:#fff;
	padding:5px 10px;
	overflow:hidden;
	min-height:100%;
}
.login{
	border:0px solid #ddd !important;
	min-height:500px;
}
.login a{
	color:#6A6282 !important;
	text-decoration:underline !important;
	font-size:11px !important;
}
.login_form{
	background-color:#fff;
	width:450px;
	padding:5px 20px;
	border:1px solid #333;
	margin:20px auto;
}
.login_form select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	margin-bottom:0 !important;
}
.login_head h1{
	color:#E6A028;
	font-size:24px;
	font-weight:bold;
	margin:0 0 10px 0;
	font-family:times new roman;
}
.login_form label{
	color:#6C6C6C;
	font-size:12px;
	font-weight:bold;
}
.label_cont{
	width:200px;
	display:inline-block;
}
.login_form input[type='text'], .login_form input[type='password']{
	border:1px solid #aaa;
	width:175px;
}
.login_form input{
	float:right;
}
.row{
	margin:20px 0;
	overflow:hidden;
	margin-left:0 !important;
}
.actv_btn{
	background-color:#E6A028 !important;
	background-image:none !important;
	color:#000000;
	margin-right:90px;
	border:1px solid #333 !important;
}
.right{
	float:right;
}
#menu{
	list-style:none;
	margin:0 !important;
}
#menu li{
	display:inline-block;
	text-align:center;
	background-color:#E6A028;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right:5px;
}
#menu li a{
	text-decoration:none;
	color:#322E25;
	font-weight:bold;
	display:inline-block;
	padding:10px 20px;
	font-size:15px;
}
#menu li:hover, #menu li.current{
	/*background-color:#E24E19;*/
	background-color:#E6E6E6;
}
#menu li a:hover{
	text-decoration:underline;
	/*color:#E6A300;*/
}
#header label{
	font-weight:bold;
	display:inline-block;
}
span, label{
	font-size:16px;
	display:inline-block;
}
.left{
	float:left;
	
}
.btn{
	webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
	padding:5px 20px;
	font-weight:bold;
	margin:0 5px;
}
.btn-primary{
	background-color:#0044CC !important;
}
.logout{
	font-weight:bold;
	padding:5px 50px !important;
	margin-right:75px;
}
#container{
	overflow:hidden;
	padding-left:10px;
	padding-top:5px;
	min-height:500px;
}
#container1{
	overflow:hidden;
	padding-left:10px;
	/*padding-top:5px;*/
	padding-top:24px;
	min-height:500px;
}
#container label{
	font-size:16px;
}
#container1 label{
	font-size:16px;
}
#container p{
	font-size:12px;
	line-height:15px;
	color:E6A028;
}
#container1 p{
	font-size:12px;
	line-height:15px;
}
#content{
	/*padding:5px 10px 10px 70px;*/
	padding:5px 10px 10px 70px;
	width:700px;
	color:#565656;
	overflow:hidden;
}
#content h2{
	font-weight:bold;
	color:#000;
	font-size:21px;
	margin-top:10px;
}
span.txt_focus{
	color:#000;
	display:block;
	font-size:14px;
	font-weight:bold;
}
.large{
	width:170px !important;
	font-size:16px !important;
	font-weight:bold !important;
}
.cont_head{
	font-size:22px;
	color:#E6A028;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
}
.align_center{
	text-align:center !important;
}
.align_right{
	text-align:right !important;
	font-size:12px !important;
	font-weight:bold;
}
.inner_cont{
	padding:10px;
	padding-left:20px;
	overflow:hidden;
}
.inner_cont label{
	font-weight:bold;
	margin-right:10px;
	word-wrap:break-word;
}
.tip{
	display:inline-block;
	margin:0 10px;
	font-size:12px;
}
#sidebar{
	width:210px;
	border:2px solid #ccc;
	float:right;
	margin-right:30px;
	padding:5px 10px;
	margin-bottom:20px;
	font-family:Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
}
#sidebar .step_head:first-child{
	margin:10px 0 5px 0;
}
#sidebar .step_head{
	background-color:#7C7C7C;
	padding:5px;
	text-align:center;
	margin:20px 0 5px 0;
}
.step_head h2{
	color:#fff;
	font-weight:bold;
	font-size:11px;
}
#sidebar p.inner_step{
	border-bottom:2px dotted #7C7C7C;
	padding:2px;
	color:#7C7C7C;
	font-weight:bold;
	margin-bottom:5px;
	font-size:12px;
}
#footer{
	background-color:#E6A028;
	padding:10px;
	overflow:hidden;
	text-align:center;
	border:1px solid #000;
}
.footer_menu{
	list-style:none;
}
.footer_menu li{
	display:inline-block;
	text-align:center;
}
.footer_menu li a{
	text-decoration:none;
	display:inline-block;
	padding:0 10px;
	font-size:12px;
	border-right:1px solid #000000;
	color:#000000;
}
.footer_menu li:last-child a{
	border:0px solid #9D9D98;
}
.details_box{
	border:2px solid #bcbcbc;
	padding:15px 10px;
	width:320px;
	margin:0 auto;
}
#content .inner_cont .details_box p{
	margin-top:10px;
	color:#565656;
	font-size:12px;
	font-weight:bold;
}
#content_one{
	margin:15px auto;
	overflow:hidden;
}
img.icon{
	width:20px;
}
.his_filters tr td, .his_filters tr th{
	padding:2px 0px 2px 2px ;
	/*margin-right:inherit;*/
	font-size:12px;
	/*min-width:65px*/
}
.his_filters tr th{
	font-weight:bold;
}
.bold{
	font-weight:bold;
	font-size:20px; text-align:right;
	padding-left:20px !important;
	
}

.align_right{
	text-align:right;
}
.table_list{
	border:1px solid #bcbcbc;
	padding:10px 20px;
}
.table_list .table tr:nth-child(2n){
	background-color:#F4F6F9;
}
.add_ben{
	border-collapse:collapse;
}
table tr td{
	padding:5px;
}
em{
	color:#FF6340;
	font-size:18px;
}
#content_one .center{
	width:500px;
	margin:0 auto;
}
.caret-down{
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.caret-up{
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.link-caret{
	vertical-align: middle;
	content: "";
	margin-left:2px;
	display: inline-block;
	width: 0;
	height: 0;
	line-height:15px;
}
.link-caret:focus{
	outline:0;
}
table.cell-centered tr td, table.cell-centered tr th{
	text-align:center !important;
}
.btn:focus {
  outline: none !important;
  outline: 0 auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.table th{
	color: #A53B64 !important;
}
.inner_highlight{
	padding:5px 10px;
	color:#000;
	margin:10px -12px;
	background-color:#eee;
}
.inner_highlight legend{
	margin:10px 0 !important;
}
#content em{
	color:#D64434;
}
.text-info {
  color: #615023;
}
.inner_highlight .table tr td, .inner_highlight .table tr th{
	border:0px solid #fff;
}
.justify{
	text-align:justify;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	font-size:12px !important;
}
.bottom{
	vertical-align:bottom !important;
}
a:focus {
  outline: 0 !important;
  outline: 0 auto -webkit-focus-ring-color !important;
  outline-offset: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: 0 !important;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0 !important;
  outline: 0 auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
button.btn, input.btn[type="submit"], button.btn.btn-small, input.btn.btn-small[type="submit"]{
	padding-top:5px !important;
	padding-bottom:5px !important;
}
select, input[type="file"]{
	margin-top:0 !important;
}
.short{
	min-width:500px;
	margin:0 auto;
	border:1px solid #7C7C7C;
}
.short legend{
	font-size:16px;
	color:#000000;
	display:inline-block;
	font-weight:bold;
	width:auto;
}
.short legend{
	background:#E6A028;
	padding:5px;
	border:1px solid #7C7C7C;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.border{
	border:1px solid #ccc !important;
	padding:10px !important;
}
.table{
	margin-left:auto !important;
	margin-right:auto !important;
}
.small{
	width:400px !important;
}
.success{
	color:#000000;
	font-weight:bold;
}
label.error{
	color:#DC1800 !important;
	display:block;
}
table.center tr td label{
	display:block;
}
tr td.error{
	color:#000000;
	font-weight:bold;
}
.filters{
	width:690px;
	margin:0 auto;
}
.inner_highlight .table tr td label.error{
	width:auto;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	margin-bottom:0 !important;
}
.short h2{
	font-size:19px;
	color:#E6A028 !important;
}
.short h3{
	font-size:17px;
	font-weight:bold;
}
body.loginbg{
	background-color:#fff;
}
.links ul{
	list-style:none;
}
.links ul li{
	display:inline-block;
	padding:5px;
	margin:0 10px;
}
.links ul li a{
	font-size:12px;
	color:#E36F1F;
	font-weight:bold;
	text-decoration:underline;
}
.links ul li a:hover{
	text-decoration:none;
}
.title{
	font-size:18px;
	font-weight:bold;
	color:#E36F1F;
	margin:5px 0;
}
.clear-top{
	margin-top:20px;
}
.cust-size{
	font-size:12px !important;
}
.medium{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}
.simple-btn{
	background-color:#E9E9E9;
	border:1px solid #333;
}
.exchange-rate{
	font-size:22px !important;
	font-style:italic;
	
}
.inverse-rate{
	font-size:11px;
}
#overlay{
	display:none;
	width:100%;
	min-height:1000%;
	background-color:#333;
	position:absolute;
	top:0;
	opacity:0.8;
}
/* #errorRule{
	text-align:center;
	color:#a00;
	position:fixed;
	top:45%;
	margin:0 auto;
	width:340px;
	left:35%;
	background-color:#fff;
	padding:10px;
	border:5px solid #000;
	font-size:12px;
	line-height:15px;
	opacity:1;
} */
#errorRule{
	text-align:center;
	color:#a00;
	font-size:12px;
	margin:5px auto;
	line-height:8px;
	display:none;
}

.xRctrSec {
    clear: both;
    font-size: 1.2em !important;
    padding-top: 2px;
    text-align: center;
}
.xRatesTmrBxRt {
    background: url("http://s.xe.com/20100208/themes/xe/images/sprite_global_home.7.png") no-repeat scroll right -110px transparent;
    display: block;
    height: 27px;
}
.xRatesTmrBx {
    background: url("http://s.xe.com/20100208/themes/xe/images/sprite_global_home.7.png") no-repeat scroll 694px -137px transparent;
}
.xRatesTmr {
    color: #CCCCCC;
    vertical-align: middle;
	/*padding-right:200px;*/
	padding-right:202px;
	/*padding-left:710px;*/
}
.timer
{
	 font-size: 1.2em;
	 padding-left:692px;
	 font-weight:bold;
	 color:#000000;
	 
	
}
.msg
{
	font-size:17px;
	font-weight:bold;
	color:#000000;
	display:inline;
	padding-left:0px;
	
}

.searchBenFileter
{
font-size:14px;
	font-weight:bold;
	color:#000000;
	display:inline;
	padding-left:0px;
}