/** CSS Document **/

body, th, td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

td {
	border-bottom: solid 1px #CCCCCC;
}

a {
	color: #6699CC;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}

.reportHeader {
	font-size: 16px;
	font-weight: bold;
}

.reportSubHeader {
	font-size: 12px;
	font-weight: bold;
}

.columnTitle {
	font-size: 12px;
	font-weight: bold;
	background-color: #DDDDDD;
}

.heading {
	font-size: 12px;
	font-weight: bold;
}

.netBalance {
	font-size: 14px;
	font-weight: bold;
}

.boundingTable {
	border: solid 2px #666666;
}

.inputBoxesNumerics {
	text-align: right;
	width: 70px;
	font-size: 11px;
}

.inputBoxesText {
	width: 255px;
	font-size: 11px;
}

.inputBoxesCustom {
	font-size: 11px;
}

.dropDownBoxes {
	font-size: 11px;
}

.reportToolbar {
	background-color: #EEEEEE;
}

.errorMessage {
	color: #FF0000;
	font-weight: bold;
	font-size: 12px;
}

.successMessage {
	color: #009900;
	font-weight: bold;
	font-size: 12px;
}

.fieldComments {
	color: #999999;
}
