/* Basic layout */

body 		
{ 
   background-position: top left;
   background-repeat: repeat-y;
	margin: 0px 0px 0px 0px;
}



/* Fonts */

body, table, td, select, textarea, input  { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
}

a { 
	color: #ffffff; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}



/* Tabs */

.tab-s, .tab-u, .tab-g, .tab-r {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.tab-s:hover, .tab-u:hover, .tab-g:hover, .tab-r:hover {
	text-decoration: underline;
}

.tab-s {
	color: #0066CC;
}

.tab-u {
	color: #FFFFFF;
}

.tab-g {
	color: #666666;
}

.tab-r {
	color: #CC0000;
}

.tab-n {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.tab-n:hover {
	text-decoration: underline;
}



/* Form elements */

select.flat, textarea.flat, 
select.comp, textarea.comp, input.comp,
textarea.code { 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

select.flat, textarea.flat,
textarea.code { 
	border-color : #888888;
}

select.comp, textarea.comp, input.comp { 
	border-color : #990000;
}

textarea.code, textarea.code-gray {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 12px; 
	line-height: 15px; 
}

textarea.code-gray {
	border-style: solid;
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	color: #808080;
}

/* Custom */

.phpAdsNew { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 24px; 
	font-style: italic; 
	font-weight: bold; 
	color: #FFFFFF; 
}

.nav { 
	color: #003399; 
}

.install { 
	line-height: 18px;
	color: #000066; 
}
.tdright {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
input.flat {
	border: 1px solid #CCCCCC;
 } input.flat {


 } 
.tdrightfill {

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.tdrightlight {

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #5800B0;
	border-right-color: #5800B0;
	border-bottom-color: #5800B0;
	border-left-color: #5800B0;
}
