/* Basic layout */

body 		
{ 
   background-position: top left;
   background-repeat: repeat-y;
   margin: 0px 0px 0px 0px;
}



/* Fonts */

body, table, td, select, textarea, input  { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}

a { 
	color: #ffffff; 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
	bottom: auto;
}



/* Tabs */

.tab-s, .tab-u, .tab-g, .tab-r {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.tab-s:hover, .tab-u:hover, .tab-g:hover, .tab-r:hover {
	text-decoration: underline;
}

.tab-s {
	color: #0066CC;
}

.tab-u {
	color: #FFFFFF;
}

.tab-g {
	color: #666666;
}

.tab-r {
	color: #CC0000;
}

.tab-n {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.tab-n:hover {
	text-decoration: underline;
}



/* Form elements */

select.flat, textarea.flat, input.flat, 
select.comp, textarea.comp, input.comp,
textarea.code { 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

select.flat, textarea.flat, input.flat,
textarea.code { 
	border-color : #888888;
}

select.comp, textarea.comp, input.comp { 
	border-color : #990000;
}

textarea.code, textarea.code-gray {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 12px; 
	line-height: 15px; 
}

textarea.code-gray {
	border-style: solid;
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	color: #808080;
}

/* Custom */

.phpAdsNew { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 24px; 
	font-style: italic; 
	font-weight: bold; 
	color: #FFFFFF; 
}

.nav { 
	color: #003399; 
}

.install { 
	line-height: 18px;
	color: #000066; 
}
.Common-Text{
	font-family: Verdana;
	font-size: 12pt;
	font-weight: normal;
	font-variant: normal;
};



.TBtn-Sort{
				BACKGROUND: #84AAD6;								
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				BORDER-COLOR: #295594;
				BORDER-WEIGHT: bold;				
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: bold;
				COLOR: #ffffff;
				HEIGHT: 22px;
				TEXT-DECORATION: none;
				WIDTH: 40px;
};

		


			.Select-Box
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 130px;
				TEXT-DECORATION: none;
				WIDTH: 208px;
			}
			.Login
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 140px;
			}			
			
			.Button
			{
				BACKGROUND: #F3F3EF;

				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 180px;
			}				
			.TextBox
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #FFF300;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 10pt;
				FONT-WEIGHT: bold;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 140px;
			}
.Common-Text{
	font-family: Verdana;
	font-size: 12pt;
	font-weight: normal;
	font-variant: normal;
};



.TBtn-Sort{
				BACKGROUND: #84AAD6;								
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				BORDER-COLOR: #295594;
				BORDER-WEIGHT: bold;				
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: bold;
				COLOR: #ffffff;
				HEIGHT: 22px;
				TEXT-DECORATION: none;
				WIDTH: 40px;
};

		


			.Select-Box
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 130px;
				TEXT-DECORATION: none;
				WIDTH: 208px;
			}
			.Login
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 140px;
			}			
			
			.Button
			{
				BACKGROUND: #F3F3EF;

				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 180px;
			}				