.nrm01 {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; fontsize: 11px
}
.nrm02 {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; fontsize: 11px
}
.sml01 {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial; fontsize: 11px
}
.sml02 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Arial; fontsize: 11px
}
.sml03 {
	FONT-SIZE: 10px; FONT-FAMILY: Arial; fontsize: 11px
}
.sml04 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana; fontsize: 11px
}
.hdr01 {
	FONT-SIZE: 14px; FONT-FAMILY: Arial; fontsize: 15px
}
.link01:link {
	COLOR: #ceedff; TEXT-DECORATION: underline
}
.link01:visited {
	COLOR: #ceedff; TEXT-DECORATION: underline
}
.link01:hover {
	COLOR: #ffd503; TEXT-DECORATION: underline
}
.link02:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.link02:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.link02:hover {
	COLOR: #ffd503; TEXT-DECORATION: none
}
.link03:link {
	COLOR: #ffdd30; TEXT-DECORATION: underline
}
.link03:visited {
	COLOR: #ffdd30; TEXT-DECORATION: underline
}
.link03:hover {
	COLOR: #ceedff; TEXT-DECORATION: underline
}
.link04:link {
	COLOR: #2283bf; TEXT-DECORATION: underline
}
.link04:visited {
	COLOR: #2283bf; TEXT-DECORATION: underline
}
.link04:hover {
	COLOR: #ff4d00; TEXT-DECORATION: underline
}
.link05:link {
	COLOR: #005b90; TEXT-DECORATION: none
}
.link05:visited {
	COLOR: #005b90; TEXT-DECORATION: none
}
.link05:hover {
	COLOR: #ff4d00; TEXT-DECORATION: none
}
.link06:link {
	COLOR: #7f7f7f; TEXT-DECORATION: none
}
.link06:visited {
	COLOR: #7f7f7f; TEXT-DECORATION: none
}
.link06:hover {
	COLOR: #ff4d00; TEXT-DECORATION: underline
}
.link07:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.link07:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.link07:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.link08:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
.link08:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
.link08:hover {
	COLOR: #ff4d00; TEXT-DECORATION: none
}
.link09:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.link09:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.link09:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.link10:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.link10:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.link10:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:link {
	COLOR: #358cce; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #358cce; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; fontsize: 11px
}
P {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; fontsize: 11px
}
TD {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; fontsize: 11px
}
SELECT {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; fontsize: 11px
}
TEXTAREA {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; fontsize: 11px
}
.input2 {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; fontsize: 11px
}
