.sidetable {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2271a0; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.smooth {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; FONT-SIZE: 12px; COLOR: #183737; FONT-FAMILY: Verdanc,Arial, Helvetica, sans-serif; align: justify
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sidetable2 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sidelinks {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2271a0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.baseline {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; align: center
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 22px; BACKGROUND-COLOR: #21427b
}
.theadsmall {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #21427b
}
.sidelinks2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidelinks2:hover:unknown {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
H2 {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.producthdr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2271a0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.countryhd {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #2894a0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subhdr {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2271a0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.color {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #042d99; FONT-STYLE: normal; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none
}
.Common-Text {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY: Verdana; FONT-VARIANT: normal
}
.TBtn-Sort {
	BORDER-RIGHT: #295594 1px solid; BORDER-TOP: #295594 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #84aad6; BORDER-LEFT: #295594 1px solid; WIDTH: 40px; COLOR: #ffffff; BORDER-BOTTOM: #295594 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 22px; TEXT-DECORATION: none; BORDER-WEIGHT: bold
}
.Select-Box {
	BORDER-RIGHT: #d2d2d2 1px solid; BORDER-TOP: #d2d2d2 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #ffffff; BORDER-LEFT: #d2d2d2 1px solid; WIDTH: 208px; COLOR: #000000; BORDER-BOTTOM: #d2d2d2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 130px; TEXT-DECORATION: none
}
.CompainButton {
	BORDER-RIGHT: #d2d2d2 1px solid; BORDER-TOP: #d2d2d2 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #ff8000; BORDER-LEFT: #d2d2d2 1px solid; WIDTH: 140px; COLOR: #000000; BORDER-BOTTOM: #d2d2d2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; TEXT-DECORATION: none
}
.Login {
	BORDER-RIGHT: #d2d2d2 1px solid; BORDER-TOP: #d2d2d2 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #ffffff; BORDER-LEFT: #d2d2d2 1px solid; WIDTH: 140px; COLOR: #000000; BORDER-BOTTOM: #d2d2d2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; TEXT-DECORATION: none
}
.TextBox {
	BORDER-RIGHT: #d2d2d2 1px solid; BORDER-TOP: #d2d2d2 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ffffff; BORDER-LEFT: #d2d2d2 1px solid; WIDTH: 140px; COLOR: #000000; BORDER-BOTTOM: #d2d2d2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; TEXT-DECORATION: none
}
.Button {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #f3f3ef; WIDTH: 180px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; TEXT-DECORATION: none
}
