<html>
<head>
  <title>Add Promotional Code</title>
<script language="javascript" src="./javascript/functions.js"></script>
<link href="/admin/images/interface.css" rel="stylesheet" type="text/css">
<script language="javascript">
<!--
function SelectOption(OptionListName, ListVal) {
  for (i=0; i < OptionListName.length; i++) {
    if (OptionListName.options[i].value == ListVal) {
      OptionListName.selectedIndex = i;
      break;
    }
  }
}

function CheckAll() {
  var m = document.trans;
  var len = m.elements.length;
  if (document.trans.All.checked==true) {
    for (var i = 0; i < len; i++) {
      m.elements[i].checked = true;
    }
  }
  else {
    for (var i = 0; i < len; i++) {
      m.elements[i].checked=false;
    }
  }
}
-->
</script>

<style type="text/css">
<!--
.style1 {color: #005b90}
.style2 {color: #005b90; font-weight: bold; }
-->
</style>

</head>

<body>

  <table width="100%" border="0" cellspacing="1" cellpadding="5">
    <tr>
      <td bgcolor="#C0C0C0"><strong><font color="#FFFFFF" size="2">Authorised Transactions</font></strong></td>
    </tr>

    <tr>
      <td align="center"><br>
        <br>
        <br>
        <form action="export-trans.php" method="post" name="trans">
        <table width="708" border="1" cellpadding="0" bordercolor="#666666">

          <tr>
            <td width="1019">
            </td>
          </tr>

          <tr>
            <td height="25" nowrap bgcolor="#C0C0C0"><span class="tab-u"><strong>&nbsp;There are 1 records.</span></td>
          </tr>

          <tr>
            <td nowrap bgcolor="#EFEFEF">
              <table width="700" border="0" bordercolor="#EFEFEF">
                <tr bgcolor="#FFFFFF">
                  <td><span class="style1">Date</span></td>
                  <td><span class="style1">Reference Code</span></td>
                  <td><span class="style1">Global Code</span></td>
                  <td><span class="style1">Status</span></td>
                  <td width="100" bgcolor="#FFFFFF"><span class="style1">Tot Amount </span></td>
                  <td><span class="style1">Sender Name </span></td>
                  <td><span class="style1">Beneficiary Name </span></td>
                  <td width="100"><span class="style1">To Country </span></td>
                  <td width="74" align="center">&nbsp;</td>
                </tr>
		    
[% FOREACH tran = transactions %]
                <tr bgcolor="#FFFFFF">
                  <td width="100" bgcolor="#FFFFFF">
                    <a href="#" onClick="javascript:window.open('view-transaction.php?transID=[% tran.id %]','viewTranDetails', 'scrollbars=yes,toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,height=420,width=740')"><strong><font color="#006699">[% tran.transDate %]</font></strong></a>
                  </td>
                  <td width="75" bgcolor="#FFFFFF" >[% tran.refNumberIM %]</td>
                  <td width="75" bgcolor="#FFFFFF">[% tran.refNumber %]</td>
                  <td width="75" bgcolor="#FFFFFF">[% tran.transStatus %]</td>
                  <td width="100" bgcolor="#FFFFFF">[% tran.totalAmount %]</td>
                  <td width="100" bgcolor="#FFFFFF">[% tran.customerID.firstName %] [% tran.customerID.lastName %]</td>
                  <td width="100" bgcolor="#FFFFFF">AGENT</td>
                  <td width="100" bgcolor="#FFFFFF">COUNTRY</td>
                  <td align="center" bgcolor="#FFFFFF"><a href="add-complaint.php?transID=1" class="style2">Inquiry</a></td>
                </tr>
[% END %]

                <tr bgcolor="#FFFFFF">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td bgcolor="#FFFFFF">&nbsp;</td>
                  <td width="100" align="center">
                  <input type="hidden" name="transIDs" value="1">
                  </td>
                  <td align="center"><input name="btnAction" type="submit"  value="Export All" onClick="document.trans.action='export_Authorize.php'; document.trans.submit();"></td>
                  <td>&nbsp;</td>
                  
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
</body>
</html>
