<table width="60%" border="0" cellspacing="1" cellpadding="5" align="center"><tr>
		 <td><img height="80" border="0" width="190" src="http://premierfx.live.horivert.com/admin/images/premier/logo.jpg" alt="" id="Picture2"></td>
	</tr>
<tr>
    <td class="topbar">
		<table width="100%"><tr><td>Dear tester11,<br><br></td></tr>
<tr>Thank you for choosing Premier FX to transact your currency exchange. <td></tr><br>
<tr><td>I have opened you a no obligation trading account number C-6028. Please use this account number in any communication you may have with Premier FX.  I will also act as your personal dealer and will be on hand at anytime to answer any questions you may have.
	</td></tr><br>
<tr><td>We have also provided the bank account details for our GBP client account. These details are required when you need to send a payment to us once you have agreed a deal.</td></tr>


	<tr><td>
		<table border="0" width="80%" align="center">
          <tr>
            <td align="center" colspan="2" class="noborder">PREMIER FX GBP CLIENT ACCOUNT DETAILS:</td>
          </tr>
        </table>
		</td></tr>
	<tr><td>
		<table border="1" width="80%" align="center" class="double">
		<tr>
            <td class="Arial" width="40%">ACCOUNT NAME:</td>
            <td width="25%" class="Arial">nnn&nbsp;</td>
          </tr>
          <tr>
            <td class="Arial" width="40%">ACCOUNT NUMBER:</td>
            <td width="35%" class="bottom">1111&nbsp;</td>
          </tr>
          <tr>
            <td class="Arial" width="40%">BANK:</td>
            <td width="25%" class="bottom">&nbsp;</td>
          </tr>
		  <tr>
          <td class="Arial" width="40%">IBAN:</td>
            <td width="35%" class="bottom">&nbsp;</td>
          </tr>
          <tr>
            <td class="Arial" width="40%">SORT CODE:</td>
            <td width="25%" class="bottom">&nbsp;</td>
          <tr>
            <td class="Arial" width="40%">Swift Code:</td>
            <td width="35%" class="bottom">&nbsp;</td>
          </tr>
	 <tr>
								<td class="Arial" width="20%">CONTACT PERSON:</td>
								<td width="35%" class="bottom">mmm</td>
							  </tr></table></td></tr><tr><td>We pride ourselves on providing a professional, courteous service and to be available to answer any questions you may have. Please feel free to call or email us.</td></tr><br>
<tr><td>I look forward to hearing from you soon.</td></tr><br>
<tr><td>Kind Regards,</td></tr>
<tr><td>account&nbsp;</td></tr></table><table width="50%" border="0" cellspacing="1" cellpadding="1" align="right">
<tr>
	<td colspan="2">Premier FX</td>
</tr>
<tr>
	<td colspan="2">Rua Sacadura Cabral, Ed Golfe, 1A, </td>
</tr>
<tr>
	<td colspan="2">Almancil 8135-144, Portugal </td>
</tr>
<tr>
	<td>Tel UK:</td><td>+44 (0) 845 021 2370 </td>
</tr>
<tr>
	<td>Fax:</td><td>+351 289 358 513</td>
</tr>
<tr>
	<td>Email:</td><td>info@premfx.com</td>
</tr>
<tr>
	<td>Web:</td><td>www.premfx.com</td>
</tr>
	
