Follow the instructions to correctly upload Transactions:
<br><br>
NOTE: The upload file needs to be created in excel. 
<br><br>
1. Please click on the "Sample Template" link.<br>
2. Fields given in the file are important to make a complete transaction process.<br>
3. Any missing information may lead transaction not to be processed properly at any stage. 