.clsDataArea2{
	width:160;

}

.clsOuterFrame2 {
	background-color : #000000;
}

.clsInnerFrame2 {
	background-color : #0F0F86;
}

.clsTopPartNavpanel2 {
	background-color : #0000A8;
	height: 3px;
}

.clsBottomPartNavpanel2{
	background-color : #0000A6;
	height: 3px;
}

.clsNavpanel2{
	background-color : White;
}
.clsDateGrid2{
	background-color : #0000AA;
}
.clsMidRow2{
	background-color : #000066;
}


.clsWeekDay2{
	background-color: #AAE1FF;
	font: bold 11px Verdana, Arrial Narrow, sans-serif;
	color: #00000D;
	width : 15 px;
	text-align: center;
}


.clsSelectedDayCell2{
	background-color: #2800F2;
	text-align: center;
}
.clsWorkDayCell2{
	background-color: #FFFFFF;
	text-align: center;
	width : 15 px;
}
.clsHoliDayCell2{
	background-color: #A8A8FF;
	text-align: center;
	width : 15 px;
}
.clsOtherMonthDayCell2{
	background-color: #FFFFFF; 
	text-align: center;
	width : 15 px;
}


.clsOtherMonthDay2{
	font: 11px Verdana, Arrial Narrow, sans-serif;
	color: #7A7A7A;
	text-decoration : none;
}
.clsCurrentMonthDay2{
	font: 11px Verdana, Arrial Narrow, sans-serif;
	color: #0000AA;
	text-decoration : none;
}
.clsSelectedDay2{
	font: 11px Verdana, Arrial Narrow, sans-serif;
	color: #FFFFFF;
	text-decoration : none;
}

.clsInfoTitle2{
	font: 11px Verdana, Arrial Narrow, sans-serif;
	color: White;
	text-align: center;
	background-color : #0F0F86;
}






