.textformat{
	font-family:"Times New Roman", Times, serif;
	font-size:14pt;
	font-weight:bold;
	padding:5px;
}
.textformat2 {
	font-family:"Times New Roman", Times, serif;
	font-size:14pt;
	font-weight:normal;
	padding:5px;
}
.textformat3 {
	font-family:"Times New Roman", Times, serif;
	font-size:8pt;
	font-weight:normal;
}
.text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.headingformat{
	font-family:"Times New Roman", Times, serif;
	font-size:26px;
	padding-top:7px;
	padding-right:10px;
	text-align:right;
	font-weight:bold;
	font-style:italic;
}
.headingformat01{
	font-family:"Times New Roman", Times, serif;
	font-size:19px;
	padding:10px;
	text-align:right;
}
.style2 {
	font-family:"Times New Roman", Times, serif;
	color: #6699CC;
	font-size:15px;
	font-weight: bold;
}
.boxformat {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding-right:5px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid black;
}
.boxformat2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding-right:5px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid black;
	background:#CCCCCC;
}
.toptext {
	font-family:"Times New Roman", Times, serif;
	font-size:11px;
	padding-top:1px;
	padding-right:10px;
	padding-bottom:7px;
	text-align:right;
}