body {
  font-family: Verdana;
  font-size: 12px;
}

td {
	font-family: Verdana;
	font-size: 12px;
}

th {
	font-family: Verdana;
	font-size: 12px;
}
a.brown{
	text-decoration: none;
	color: #663300;
	font-weight: bold;
	font-size: 10px;
}
a.brown:hover {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 10px;
}
a.brownb{
	text-decoration: none;
	color: #663300;
	font-weight: bold;
	font-size: 12px;
}
a.brownb:hover {
	text-decoration: none;
	color: #ff0000;
	font-weight: bold;
	font-size: 12px;
}
a.orrange{
	text-decoration: none;
	color: #ff9900;
	font-weight: bold;
	font-size: 11px;
}
a.orrange:hover {
	text-decoration: none;
	color: #ff0000;
	font-weight: bold;
	font-size: 11px;
}
a.orrangeb{
	text-decoration: none;
	color: #ff9900;
	font-weight: bold;
	font-size: 12px;
}
a.orrangeb:hover {
	text-decoration: none;
	color: #ff0000;
	font-weight: bold;
	font-size: 12px;
}
a.whiteb{
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}
a.whiteb:hover {
	text-decoration: none;
	color: #ff0000;
	font-weight: bold;
	font-size: 12px;
}
.orrangeborder{
	border-color: #ffcc66;
	border-style: solid;
	border-width: 1;
}
