/* Basic colours */

.error {
    color: #990000;
    background: #ededed;
}
.mainHeader {
    color: #ffffff;
    background: #6699cc;
}

.subHeader {
    color: #000066;
    background: #dfe6ea;
}

.subHeaderBorder {
    color: #ffffff;
    background: #000000;
}

.tableContent {
    color: #000000;
    background: #ededed;
}