@import url('reset.css');
@import url('fonts.css');
@import url('header.css');
@import url('menu.css');
@import url('login.css');
@import url('slideshow.css');
@import url('newsticker.css');
@import url('content.css');
@import url('highlights.css');
@import url('footer.css');
@import url('forms.css');
@import url('widget.css');
@import url('newspress.css');
@import url('clientarea.css');
@import url('ie_fixes.css');
@import url('fx.css');

*
{
  margin:0px;
  padding:0px;
  border:0px;
}

html,body
{
  position:relative;
  height:100%;
}

html
{
  background-image:url('../../content/images/background.png');
  background-repeat:repeat-x;
  background-position: left -20px;
}

body
{
  /*font-family:"Helvetica";
  font-size:75%;*/
  font-size:0.8125rem;
  color:#444;
  line-height:20px;
  list-style-position:inside;
  text-shadow:0 1px 1px rgba(255,255,255,0.5);
}

.wrapper
{
  width:83.3em;
  margin:0 auto;
}

h2,h3,h4
{
  margin-bottom:15px;
}

h3
{
  margin-bottom:.5em;
}

p
{
  line-height:18px;
  padding:.2em 0;
}

a
{
  color:#1C85C7;
/*  background-color:#E1EEF1;*/
  text-decoration:none;
}



/* self-clear floats */


.group:after
{
  content: ".";
  display:block;
  height: 0;
  clear: both;
  visibility:hidden;
}

* html .group { /* IE6 */
  height: 1%;
  }
*:first-child+html .group { /* IE7 */
  min-height: 1px;
  }