.trades
{
  text-shadow:0 1px 1px rgba(255,255,255,0.5);
  width:80em;
  clear:both;
  margin:30px auto;
  border:1px solid #F0F0F0;
/*  border-collapse: collapse;*/
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
} 
  .trades tr
  {
    display:block;

  }
  
    .trades thead tr:hover, .trades tfoot tr:hover
    {
      background:none !important;
    }
    
    .trades td
    {

    }
      
      .trades td.reference, .trades td.trade-date, .trades td.value-date
      {
        width:10em;
      }
      
      .trades td.sold-amount, .trades td.bought-amount
      {
        width:12em;
      }
      
      .trades td.client-rate
      {
        width:7em;
      }
      
      .trades td.status
      {
        width:3em;
      }
    
    .trades thead td.up
    {
      background:url('content/images/icon_table_sort.gif') no-repeat 90% -23px;
    }
    
    .trades thead td.down
    {
      background:url('content/images/icon_table_sort.gif') no-repeat 90% 14px;
    }
    
    .trades tfoot tr
    {
      background:none !important;
    }
      .trades tfoot td
      {
        border-top:1px solid #F0F0F0;
        color:#666;
        font-size:11px;
      }
    
    .trades tr.odd
    {
      background:#F6F6F6;
    }
    
    .trades tr:hover
    {
      background:#CFE6E6;
    }
    
      .trades tr.expanded
      {
        border-top:1px dotted #CFCFCF;
        background-color:#F0F0F0;
        /*background:#F0F0f0 url('content/images/trade_expanded_background.png') repeat-x center bottom;*/
      }
      
        .trades tr.expanded:hover
        {
          /*background-color:#CFE6E6;*/
        }
      
        .trades tr.expanded td.reference
        {
          /*background:url('content/images/trade_instruction_pointer.png') no-repeat center bottom;*/
        }
    
    
  
  .trades thead td
  {
    text-align:center;
    font-weight:bold;
  }
  
  .trades td
  {
    margin:0px;
    border:none;
    padding:8px 12px 8px 12px;
    text-align:right;
    white-space:nowrap;
    cursor:pointer;
  }
  
    .trades td.trade-date, .trades td.value-date
    {
      text-align:left;
    }
    
    .trades td.reference, .trades td.client-rate
    {
      font-weight:bold; 
      text-align:center;
    }
    
    .trades td.sold-amount span, .trades td.bought-amount span, .trades td.instruction-amount span
    {
      padding:2px 5px;
      color:#FFF;
      font-size:11px;
      font-weight:bold;
      background:#C0C0C0;
      border-radius:10px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      text-shadow:none;
    } 
    
    .trades td.status em
    {
      display:none;
    }
    
      .trades td.status.ok
      {
        background:url('content/images/alert_green.png') no-repeat 50% 50%;
      }
      
      .trades td.status.held
      {
        background:url('content/images/alert_yellow.png') no-repeat 50% 50%;
      }
  
  .trades tr.instructions
  {
    position:relative;
    cursor:default;
    background:#B6CFDE url('content/images/trade_instruction_background.png')  center bottom !important;
  }
  
    .trades tr.instructions:before
    {
      position:absolute;
      display:block;
      width:100%;
      height:8px;
      content:'.';
      text-indent:-9999px;
      overflow:hidden;
      background:url('content/images/trade_expanded_background.png') repeat-x 0px -4px;
    }
    
    .trades tr.instructions:after
    {
      display:block;
      width:100%;
      height:8px;
      content:'.';
      background:url('content/images/trade_expanded_background.png') repeat-x center 4px;
      text-indent:-9999px;
      overflow:hidden;
    }
    
    .trades tr.instructions .title
    {
      position:relative;
      float:left;
      padding-top:30px;
      background:url('content/images/trade_instruction_pointer.png') no-repeat top center;
      z-index:10;
    }
    
    .instructionButton
    {
      cursor:pointer;
      float:right;
      margin-top:25px;
      padding:.5em 1em;
      font-weight:bold;
      background:#A5D5DB url('content/images/glass.png') repeat-x -10px left;
      color:#333;
      border-radius:15px;
      text-shadow:0 1px 1px rgba(255,255,255,0.5);
      box-shadow:1px -1px 1px rgba(0,0,0,.3);
      
      -webkit-border-radius:15px;
      -moz-border-radius:15px;
      -webkit-box-shadow:1px -1px 1px rgba(0,0,0,.3);
      -moz-box-shadow:1px -1px 1px rgba(0,0,0,.3);
      
      border-bottom:1px solid rgba(255,255,255,0.5);
      border-left:1px solid rgba(255,255,255,0.3);
    }
    
      .instructionButton:hover
      {
        background-color:#87AEB3;
      }
  
  #confirm-instruction
  {
    float:right;
  }
  
  #review-instruction
  {
    float:left;
  }
  
  .trades tr.instructions td
  {
    display:block;
    margin:2em;
    margin-top:0;
    padding:0px;
    cursor:default;
    text-align:left;
  }
    
  .trades .instructions table
  {
    width:75em;
    margin-top:20px;
    margin-bottom:30px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    background-color:rgba(255,255,255,0.2);
    box-shadow:-1px -1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow:-1px -1px 1px rgba(0,0,0,.3);
    -moz-box-shadow:-1px -1px 1px rgba(0,0,0,.3);
    border-bottom:1px solid rgba(255,255,255,0.4);
    padding:1em;
  }
    
    .trades .instructions table tr
    {
      display:table-row;
    }
    
      .trades .instructions table tr:hover
      {
        background:none;
      }
    
    .trades .instructions table td
    {
      display:table-cell;
      padding: 2px 3em;
      text-align:left;
      padding:.4em;
    }

      .trades .instructions table td.instruction-date
      {
        width:20%;
      }
      
      .trades .instructions table td.instruction-account
      {
        width:55%;
      }
      
      .trades .instructions table td.instruction-amount
      {
        width:25%;
        text-align:right;
      }
    
.filter
{
  position:relative;
  float:right;
  margin:20px 20px;
}

  .filter label
  {
    display:inline;
    font-weight:bold;
  }
  
  .filter .tradeDateSelector
  {
    position:absolute;
    right:20px;
    margin-top:20px;
    width:225px;
    padding:10px;
    z-index:10;
    background:#f2f2f2 url('content/images/item_background.png') repeat-x;
    border:1px solid #E0E0E0;
  }
  
.ui-dialog input, .ui-dialog select, .ui-dialog textarea, .ui-dialog label
{
  width:100% !important;
}

.ui-dialog label
{
  font-weight:bold;
}

  .ui-dialog label em
  {
    float:right;
    font-weight:normal;
    color:inherit;
    font-size:.8em;
  }

  .ui-dialog label a
  {
    color:#1C85C7;
    border-bottom:1px dotted #1C85C7;;
    outline:none;
  }

.ui-dialog input
{
  width:95% !important;
}

  .ui-dialog input.submit
  {
    width:300px !important;
    margin:1em auto !important;
    float:none;
  }

.ui-dialog #chart
{
  position:relative;
  left:0;
}

  .ui-dialog #amount-available
  {
    position:absolute;
    right:10px;
    line-height:30px;
    font-size:.9em;
  }

.ui-slider-handle
{
  cursor:move !important;
}

table.accounts
{

}

  table.accounts tr
  {
    display:table-row;
  }

    table.accounts td
    {
      text-align:left;
    }
      table.accounts td.holder
      {
        width:50em !important;
      }
    
      table.accounts td.bank, table.accounts td.number, table.accounts td.iban
      {
        width:15em; 
      }
      
      table.accounts td.ccy
      {
        text-align:center;
        width:3em;
      }
      
      table.accounts td.swift
      {
        text-align:right;
        width:8em;
      }
      
      