.one
{
 width:297px !important;
 padding-left:0px !important;
 padding-right:0px !important;
 margin-left:20px;
}

.two
{
  width:634px !important;
  padding-left:0px !important;
  padding-right:0px !important;
  margin-right:21px;
}


.three
{
  display:table;
  width:100%;
  margin-left:10px;
  margin-bottom:30px;
  clear:both;
}

  .three li
  {
    display:inline;
    width:317px;
    float:left;
  }
  
  .three li .content
  {
    border-top:1px solid #C0C0C0;
    padding:10px;
  }

    .three li.first
    {
      margin-right:5px;
    }

    .three li.last
    {
      margin-left:5px;
    }

    .three li.middle
    {
      width:307px;
    }


.map
{
  display:table;
  padding:4px;
  background-color:#FFF;
  border:1px solid #F0F0F0;
}
  .map .iframe
  {
    margin:0px;
    padding:0px;
  }

.left, .right, .full
{
  margin-top:10px;
 /* margin-bottom:30px;
  padding:20px;*/
}

.left
{
  position:relative;
  width:59%;
  float:left;
}

  .left h2, .right h2, .full h2
  {
    color:#1C85C7;
    padding-bottom:5px;
    font-weight:normal;
    border-bottom:1px solid #C0C0C0;
  }

.right
{
  position:relative;
  width:32%;
  float:right;
}

.full
{
  clear:both;
}

.float
{
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	width:220px;
	border-right:1px dotted #C0C0C0;
	float:left;
}
  
  .float.last
  {
    border:none;
  }

.list
{
  clear:both;
  list-style:none;
}
  
  .list h3
  {
    margin-bottom:0px;
  }
  
  .list .legend
  {
    margin:0;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    font-size:1.2em;
    color:#FFF;
    background-color:#17679b;
    background-image:url('../../content/images/item_background_blue.png');
    border:none;
  }
  
  .list li
  {
    display:block;
    padding:10px;
    padding-left:15px;
    background-color:#f2f2f2;
    background-image:url('../../content/images/item_background.png');
    background-repeat:repeat-x;
    border:1px solid #C0C0C0;
    border-bottom:none;
    cursor:pointer;
  }
    
    .list li:last-child
    {
      border-bottom:1px solid #E0E0E0;
    }
    
    .list li.last
    {
      border-bottom:1px solid #E0E0E0;
    }
  
    .list li:hover, .list li.blue
    {
      color:#FFF;
      background-color:#17679b;
      background-image:url('../../content/images/item_background_blue.png');
    }
    
      .list li h4
      {
        margin:0;
      }
      
      .list li:hover p
      {
        /*display:block;*/
      }
      
      .list li:hover a
      {
        color:#EFEFEF;
      }
    
    .list li p
    {
      background:none;
      margin-top:10px;
      margin-bottom:10px;
      display:none;
    }
    
    .list li.red
    {
      color:red;
    }
    
    .list li.green
    {
      color:green;
    }
    
    .list li.yellow
    {
      color:yellow;
    }

.tabs
{
  position:relative;
  top:7px;
  margin:0px;
  padding:0px;
  border:none;
  list-style:none outside;
  z-index:100;
}

  .tabs li.first
  {
    margin-left:5%;
  }

  .tabs li
  {
    width:auto;
    float:left;
    margin-left:1px;
    margin-right:1px;
    padding:10px;
    color:#FFF;
    background-color:#117867;
    background-image:url('../../content/images/item_background_blue.png');
    background-repeat:repeat-x;
    border:1px solid #17679b;
  }
  
    .tabs li.red
    {
      background-color:#a60b0b;
      background-image:url('../../content/images/item_background_red.png');
    }

    .tabs li.first
    {

    }
  
    .tabs li.last
    {

    }
  
    .tabs li.active
    {
      color:#444;
      padding-bottom:17px;
      background:#FDFDFD;
      border:1px solid #C0C0C0;
      border-bottom:none;
    }

.ticked
{
  list-style:none outside;
}

.tickList
{
  list-style:none;
  margin-bottom:2em;
}


  .tickList li, .ticked li *
  {
    padding:5px;
    padding-left:35px;
    background-image:url('../../content/images/tick_bullet.png');
    background-repeat:no-repeat;
    background-position:10px center;
  }
  
  * html .tickList li, * html .ticked li *
  {
    display:inline-block;
    background-image:url('../../content/images/tick_bullet.gif');
  }
  
  
    .ticked li
    {
      padding-left:5px;
    }
    
      .ticked li *
      {
        display:block;
      }
  
    .tickList li:hover
    {
        color:#1C85C7;
        background-color:#E1EEF1;
    }
    
    .tickList.noHover li:hover
    {
      color:inherit;
      background-color:transparent;
    }
    

.four
{
  display:table;
  width:100%;
  list-style:none;
}

  .four li
  {
    width:195px;
    float:left;
    margin:5px;
    padding:15px;
  }
  
  .icons li
  {
    position:relative;
    height:220px;
    background-color:#f2f2f2;
    background-image:url('../../content/images/item_background.png');
    background-repeat:repeat-x;
    border:1px solid #E0E0E0;
    cursor:pointer;
  }
  
    .icons li:hover .content
    {
      display:block;
    }
  
.icons li .content
{
  position:absolute;
  display:none;
  width:238px;
  left:-30px;
  top:-30px;
  color:#E0E0E0;
  background-image:url('../../content/images/black_transparent_background.png');
  padding:20px;
  z-index:1;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
}

  .icons li h3
  {
    position:absolute;
    width:100%;
    bottom:10px;
    text-align:center;
  }
    

.solo
{
  display:block;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  margin-bottom:20px;
  background-color:#f2f2f2;
  background-image:url('../../content/images/item_background.png');
  background-repeat:repeat-x;
  border:1px solid #C0C0C0;
}

  .solo blockquote
  {

  }

  .solo .info
  {
    margin-top:10px;
    border-top:1px solid #C0C0c0;
  }
  
  .solo h4
  {
    margin:0px;
    margin-top:10px;
    padding:0px;
    line-height:10px;
    color:#1C85C7;
  }

.faqsList
{
  list-style:none outside;
  
}
  .faqsList li
  {
    background-image:url('../../content/images/faqs.gif');
    background-repeat:no-repeat;
    background-position:0px 5px;
  }
  
    .faqsList li .question, .faqsList li .answer
    {
      margin-left:50px;
    }
    

.ibanList
{
  position:relative;
  list-style:none outside;
  padding:10px;
}
  .ibanList li
  {
    border-bottom:1px dotted #C0C0C0;
    line-height:30px;
    padding-left:10px;
    padding-right:10px;
  }
    
    .ibanList li.last
    {
      border:none;
    }
    
    .ibanList li:hover
    {
      color:#1C85C7;
      background-color:#E1EEF1;
    }
  
    .ibanList li b
    {
      position:absolute;
      width:280px;
      left:290px;
      text-align:right;
    }


.contentList
{
  width:100%;
  list-style: none outside;
}
  
  .contentList li
  {
    width:43.7%;
    float:left;
    margin-top:10px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
  }
    
    .contentList img
    {
      margin-bottom:10px;
    }

    .contentList li h3
    {
      font-size:15px;
      border-bottom:1px dotted #C0C0C0;
    }

    .contentList li h4
    {
      color:#1C85C7;
      font-size:12px;
      margin-bottom:0px;
    }

    .contentList li a
    {
      clear:both;
      margin-top:10px;
    }

      .contentList li a:hover
      {
        background-color:#E1EEF1;
      }


#terms-and-conditions ul, ol
{
  padding:10px;
}

  #terms-and-conditions ol li
  {
    padding:10px;
  }
  
  .social
  {
    width:100%;
    clear:both;
    margin-top:30px;
  }

.social ul
{
  clear:both;
  list-style:none outside;
}

  .social li
  {
    width:100px;
    height:30px;
    float:left;
    margin:0px;
    padding:0px;
    line-height:30px;
    text-indent:35px;
    background-repeat:no-repeat;
    background-image:url('../../content/images/social.png');
  }

    .social .digg
    {
      width:80px;
      background-position:0px -30px;
    }

    .social .reddit
    {
      width:82px;
      background-position:0px -60px;
    }

    .social .facebook
    {
      background-position:0px -90px;
    }

    .social .stumbleupon
    {
      width:120px;
      background-position:0px -120px;
    }
    
    .social .twitter
    {
      width:85px;
      background-position:0px -150px;
    }

    .social h4
    {
      font-size:13px;
      font-weight:bold;
      border-bottom:1px dotted #C0C0C0;
    }

    .social li a
    {
      display:block;
      width:100%;
      height:100%;
      margin:0px;
      padding:0px;
    }

      .social li a:hover
      {
        color:#333;
        background:none;
      }
      
#openAnAccountList
{
}

  #openAnAccountList li
  {
    position:relative;
    display:block;
    width:50%;
    height:268px;  
    float:left;
    background-repeat:no-repeat;
  }
  
    #openAnAccountList li h3
    {
      position:absolute;
      display:none;
    }
  
    #openAnAccountList li a
    {
      position:absolute;
      display:block !important;
      width:100%;
      height:100%;
      top:0px;
      text-indent:-9999px;
      overflow:hidden;
    }
  

#linksList
{
  list-style:none outside;
}

  #linksList li
  {
    position:relative;
    display:table;
    width:100%;
    clear:both;
    margin-bottom:30px;
  }
  
    #linksList li h4
    {
      border-bottom:1px solid #C0C0C0;
    }
  
    #linksList li img
    {
      float:left;
      margin-right:10px;
      border:1px solid #C0C0C0;
    }
    
    #linksList li a
    {
      position:relative;
      padding-left:20px;
      background: url('../../content/images/new_window_icon.png') no-repeat left center;
    }
    
      #linksList li a:hover
      {
        border-bottom:1px dotted #1C85C7;
      }
      
.warning
{
  color:#992128;
}

.testimonial
{
  padding-bottom:2em;
}

#terms-and-conditions.full ol, #tacFieldsetDiv ol{
  list-style: decimal inside;
}

#terms-and-conditions.full ul, #tacFieldsetDiv ul{
  list-style: disc inside;
}
