@font-face {
  font-family: 'Cantarell Regular';
  src: url('content/fonts/Cantarell-Regular.eot');
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('content/fonts/Cantarell-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'content/fonts/Cantarell Oblique';
  src: url('Cantarell-Oblique.eot');
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url('content/fonts/Cantarell-Oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Cantarell Bold';
  src: url('content/fonts/Cantarell-Bold.eot');
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url('content/fonts/Cantarell-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cantarell BoldOblique';
  src: url('content/fonts/Cantarell-BoldOblique.eot');
  src: local('Cantarell BoldOblique'), local('Cantarell-BoldOblique'), url('content/fonts/Cantarell-BoldOblique.ttf') format('truetype');
}