#footer
{
  width:100%;
  clear:both;
  text-align:center;
  font-size:12px;
}
  
  #footer a:hover
  {
    padding-bottom:1px;
    background-image:url('content/images/dotted_border.png');
    background-repeat:repeat-x;
    background-position:center bottom;
  }
  
  #logos
  {
    width:380px;
    margin:0 auto 2em auto;
  }
    #logos li
    {
      float:left;
      display:inline-block;
      margin:0 .5em;
      height:54px;
      list-style:none outside;
    }
      #logos li a
      {
        display:block;
        width:120px;
        height:100%;
        text-indent:-9999px;
        overflow:hidden;
        background-repeat:no-repeat;
        background-position:50% 50%;
      }
        #logos li a:hover
        {
          padding:0;
          background-position:50% 50%;
        }
        
        #logos li#soca a
        {
          width:107px;
          background-image:url('content/images/logos_soca.gif');
        }
        
        #logos li#verisign
        {
          width:85px;
          background-image:url('content/images/logos_verisign.gif');
          background-repeat:no-repeat;
          background-position: center center;
        }
        
          #logos li#verisign a:hover
          {
            background:none !important;
            border:none !important;
          }
        
        #logos li#hm a
        {
          background-image: url('content/images/logos_hm.gif');
          background-position:50% 14px;
        }
        
        #logos li#iamtn a
        {
          width:122px;
          background-image: url('content/images/logos_iamtn.gif');
        }
  
  #legal
  {
    clear:both;
    display:block;
    list-style:none;
    clear:both;
    margin:0 auto;
  }
  
    #legal li
    {
      display:inline;
      margin-left:5px;
      margin-right:5px;
      padding-left:10px;
      background-image:url('content/images/separator.png');
      background-repeat:no-repeat;
      background-position:left top;
    }
      
      #legal li#security
      {
        padding-left:12px;
        background-image:url('content/images/lock_icon_blue.png');
        background-position:left center;
      }

  address
  {
    display:block;
    clear:both;
    font-style:normal;
    font-size:11px;
    margin-top:5px;
  }