fieldset
{
  width:100%;
  border:none;
}

legend
{
  font-size:16px;
  padding-bottom: 20px;
}


label
{
  display:block;
  width:220px;
  margin-top:10px;
}
  
  label em
  {
    color:red;
    margin-right:5px;
    font-size:15px;
  }
  
  label.error
  {
    font-size:11px;
    margin:0px;
    color:red;
  }
  
  label .fieldInfo
  {
    display:block;
    font-size:.8em;
    font-weight:bold;
    color:#3EA9F5;
    cursor: help;
  }

/*input
{
	background-color:transparent;
	border:1px solid #E0E0E0;
	color:#333333;
	font-size:98%;
	font-weight:bold;
	padding:2px;
	width:170px;
}*/

  input:focus , select:focus
  {
    outline: 8px auto #5CC8FB;
    -moz-outline:2px solid #5CC8FB;
  }
  
  input[type='hidden']
  {
    border:none;
    display:none;
  }
  
  input[type='submit'],input.submit, button
  {
    display:block;
    width:220px;
    margin-top:10px;
    color:#FFF;
    background-color:#17679b;
    background-image:url('../../content/images/item_background_blue.png');
    background-repeat:repeat-x;
    border:1px solid #17679b;
    cursor:pointer;
  }

select
{
  width:223px;
  padding:3px;
  height:25px;
  font-size:95%;
  -webkit-appearance:menulist-button;
  -moz-appearance:button-bevel;
  border:1px solid #E0E0E0;
}
  
  #registration
  {
    float:left;
    clear:both;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    width:730px;
    border:1px solid #E0E0E0;
    background-color:#eeffdd;
    background-image:url('../../content/images/item_background.png');
    background-repeat:repeat-x;
  }
  
  #registration input
  {
    border-color:#C0C0C0;
  }
  
  #registration fieldset
  {
    width:100%;
  }
  
  #registration .group
  {
  }
  
  #registration .left
  {
    width:25%;
    border-right:1px dotted #C0C0C0;
  }
  #registration .group .text
  {
    width:45%;
  }
  #registration .right
  {
    width:45%;
    text-align:right;
  }
    
    #registration .right label
    {
      float:right;
    }
  
  #registration .controls
  {
    clear:both;
    float:right;
    margin-top:1em;
    margin-bottom:2em;
  }
  
    #registration .controls.top
    {
      margin-top:-2em;
    }
  
    #registration .controls .begin
    {
      display:block;
	  width:83px;
      height:28px;
      left:0px;
      text-indent:-5000px;
      overflow:hidden;
      background-image:url('../../content/images/begin_registration.jpg');
      background-repeat:no-repeat;
    }
  
    #registration .controls span
    {
      display:block;
      float:left;
      height:19px;
      background-repeat:no-repeat;
      text-indent:30px;
      font-weight:bold;
      color:#666;
      cursor:pointer;
    }
    
    #registration .controls span:hover
    {
      color:#000;
    }
    
    #registration .controls .prev
    {
      text-indent:0px;
      padding-right:2.5em;
      background:url('../../content/images/controls.png') no-repeat right bottom;
    }
    
    #registration .controls .next
    {
      margin-left:20px;
      background:url('../../content/images/controls.png') no-repeat left top;
    }
  
  #registration .newIndividual
  {
    display:block;
    height:30px;
    float:right;
    margin-bottom:20px;
    font-size:15px;
    font-weight:bold;
    padding-right:35px;
    line-height:25px;
    background-image:url('../../content/images/individual.png');
    background-repeat:no-repeat;
    background-position:right -56px;
  }
  
  #registration .individual
  {
    position:relative;
    display:table;
    width:100%;
    /*float:right;*/
    clear:both;
   /* margin-bottom:40px;*/
    background-color:#E1EEF1;
    border:1px dotted #999;
  }
    #registration .individual legend
    {
      display:none;
    }
    
    #registration .individual .icon
    {
      position:relative;
      width:30px;
      height:25px;
      top:-26px;
      left:15px;
      background-image:url('../../content/images/individual.png');
      background-repeat:no-repeat;
      background-position:left -29px;
    }
  
    #registration .individual .remove
    {
      position:absolute;
      width:38px;
      height:29px;
      top:-14px;
      right:-17px;
      cursor:pointer;
      text-indent:-5000px;
      overflow:hidden;
      background-image:url('../../content/images/individual.png');
      background-repeat:no-repeat;
      background-position:right top;
      z-index:1;
    }
    
    #registration .individual .left, #registration .individual .right
    {
      margin-top:0px;
      margin-bottom:0px;
      padding-top:0px;
      padding-bottom:20px;
    }
  
  #registration .inlineCheckbox
  {
    width:100%;
  }
  
    #registration .inlineCheckbox input
    {
      display:block;
      float:right;
      width:20px;
      height:20px;
      margin:0px;
      margin-left:10px;
      margin-top:5px;
      padding:0px;
    }
    #registration .inlineCheckbox .sendEmail
    {
      margin:0px;!important
    }
    #registration .inlineCheckbox  label
    {
      display:block;
      margin:0px;
      padding:0px;
      float:right;
      font-size:11px;
    }
    
    #registration .inlineCheckbox label.error
    {
      width:100%;
      float:right;
    }
    
  #registration input.submit
  {
    float:right;
    margin-bottom:20px;
  }
  
  #registration .errors
  {
    position:absolute;
    width:300px;
    left:27%;
    top:30%;
    padding:40px;
    background-color:#a60b0b;
    background-image:url('../../content/images/item_background_red.png');
    background-repeat:repeat-x;
    color:#FFF;
    font-weight:bold;
    -webkit-border-radius:12px;
  }
  
  #registration #tacFieldsetDiv
  {
    clear:both;
    width:100%;
    height:150px;
    font-size:11px;
    background-color:#FFF;
    border:1px solid #666;
    padding:10px;
    margin-top:20px;
    margin-bottom:10px;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    line-height:20px;
  }

    #registration #tacFieldsetDiv li
    {
      list-style-position:inside;
    }

      #registration #tacFieldsetDiv li ol li
      {
        margin-left:10px;
      }

.compulsoryAdvice
{
  margin-top:2em;
  font-size:.9em;
  font-style:italic;
  color:red;
}

.validation-summary-errors
{
  color:red;
}
  
ul.validation-summary-errors
{
  display:none;
}

.field-validation-error
{
  display:block;
  color:red;
}

.input-validation-error
{
  background:#E99E9E;
}
