.widget,.testimonial,#registration, #highlights li, #highlights li .image, .solo
{
  border-radius:.5em;
  -webkit-border-radius:.5em;
  -moz-border-radius:.5em;
}


.list .legend, #nav li
{;
  border-top-left-radius:.5em;
  border-top-right-radius:.5em;
  -webkit-border-top-left-radius:.5em;
  -webkit-border-top-right-radius:.5em;
  -moz-border-radius-topleft:.5em;
  -moz-border-radius-topright:.5em;
}

.list li:last-child, .ticker, .breadcrump
{
  border-bottom-left-radius:.5em;
  border-bottom-right-radius:.5em;
  -webkit-border-bottom-left-radius:.5em;
  -webkit-border-bottom-right-radius:.5em;
  -moz-border-radius-bottomleft:.5em;
  -moz-border-radius-bottomright:.5em;
}

.list .legend, .list li:hover
{
  text-shadow:none
}