#logo
{
  width:198px;
  height:95px;
  background-image:url('content/images/logo.png');
  background-repeat:no-repeat;
  text-indent:-5000px;
  overflow:hidden;
  margin-top:20px;
  margin-left:20px;
  float:left;
}

#contactStandFirst
{
  margin-top:30px;
  margin-right:20px;
  float:right;
}

  #contactStandFirst li
  {
    display:inline;
    color:#F2F2F2;
    padding-left:12px;
    background-repeat:no-repeat;
    background-position:left center;
  }
  
    #contactStandFirst li#contactPhone
    {
      background-image:url('content/images/phone_icon.png');
    }
    
    #contactStandFirst li#contactEmail
    {
      margin-left:5px;
      padding-left:18px;
      background-image:url('content/images/email_icon.png');
    }
    
  
    #contactStandFirst li a
    {
      color:#F2F2F2;
      text-decoration:none;
    }
    

.breadcrump
{
  position:relative;
  width:998px;
  height:40px;
  border:1px solid #C0C0C0;
  list-style:none;
  overflow:hidden;
}

  .breadcrump li
  {
    display:table;
    float:left;
    margin-top:1px;
    margin-left:1px;
    height:40px;
    padding-right:30px;
    text-indent:20px;
    line-height:40px;
    color:#999;
    z-index:1;
    background-image:url('content/images/timestamp_background.gif');
    background-repeat:no-repeat;
    background-position:right center;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
  }
  
    .breadcrump li#home
    {
      width:52px;
      padding-right:10px;
    }
  
      .breadcrump li#home a
      {
        text-indent:-5000px;
        overflow:hidden;
        background-image:url('content/images/home_icon.png');
        background-repeat:no-repeat;
        background-position:center 12px;
      }
      
    
    .breadcrump li#second a
    {
      color:#1C85C7;
    }
    
    .breadcrump li a
    {
      color:#999;
      display:block;
      width:125%;
      height:100%;
    }
    
      .breadcrump li a:hover
      {
        color:#1C85C7;
      }