#highlights
{
  width:100%;
  clear:both;
  margin-bottom:1em;
  padding:20px;
}

  #highlights li
  {
    display:inline;
    width:317px;
    height:143px;
    border:1px solid #E0E0E0;

    float:left;
    background-color:#f2f2f2;
    background-image:url('content/images/item_background.png');
    background-repeat:repeat-x;
  }
    
    #highlights li.first
    {
      margin-right:5px;
    }
    
    #highlights li.last
    {
      margin-left:5px;
    }
  
    #highlights li.middle
    {
      width:307px;
    }
  
    #highlights li *
    {
      display:none;
      text-indent:-5000px;
      overflow:hidden
    }
    
      #highlights li .image
      {
        display:block;
        width:100%;
        height:100%;
      }