* html body {
  behavior: url("content/htcs/csshover3.htc");}
  

/*img {
  behavior: url("content/htcs/iepngfix.htc"); }
*/

* html #logo
{
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='content/images/logo.png', sizingMethod='crop');
}
