#clientLogin
{
  border:1px solid #3D71AD;
  background:#E1ECF0 url('content/images/item_background_login.png') repeat-x !important;
}

  #clientLogin:hover
  {
    border:1px solid #3D71AD !important;
    border-bottom:1px solid #E1ECF0 !important;
  }

#clientLogin .loginForm
{
  display :none;
}

#clientLogin:hover .loginForm
{
  display:block;
}


.loginForm
{
  position:absolute;
  z-index:2000;
  width:200px;
  top:38px;
  right:1px;
  background: #E1ECF0;
  border:1px solid #3D71AD;
  border-top:none !important;
  border-top:none;
  padding:10px;
}

  .loginForm input, .loginForm label
  {
    display:block;
    width:100%;
    margin:0px;
    padding:0px;
    text-indent:0px;
  }
  
  .loginForm label
  {
    color:#666;
    margin-top:10px;
  }
  
  .loginForm input
  {
    width:180px;
    padding:8px;
    background:#FFF;
    border:1px solid #BDC8CE;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
  }
  
    .loginForm input.submit
    {
      width:auto;
      padding:5px 10px 5px 10px;
      margin:15px 0px;
      text-shadow: 0px 1px 0px #3697D3;
      float:left;
    }
    
  .loginForm a
  {
    background-image:none !important;
    text-indent:0px !important;
    padding:0px !important;
    clear:both;
  }
  
  .loginForm .inline
  {
    width:110px;
    float:right;
    text-indent:0px;
    margin:18px 0px;
  }
  
    .loginForm .inline input, .loginForm .inline label
    {
      display:inline;
    }
    
    .loginForm .inline input
    {
      width:20px;
      background:none;
      border:none;
      padding:0px;
    }