#menu
{
  position:relative;
  width:100%;
  height:81px;
  clear:both;
  list-style:none;
  z-index:100000;
}
 
  #menu li
  {
    height:37px;
    float:left;
    margin-right:1px;
    border:1px solid #999;
    border-bottom:none;
    background-color:#f2f2f2;
    background-image:url('content/images/item_background.png');
    background-repeat:repeat-x;

  }
  
    #menu li:hover
    {
      border-top:2px solid #1C85C7;
      height:36px;
    }
  
    #menu li#openAnAccount
    {
      float:right;
      background-color:#17679b;
      background-image:url('content/images/item_background_blue.png');
      border:1px solid #1866A8;
      border-bottom:none;
    }
  
    #menu li#clientLogin
    {
      float:right;
      text-indent:15px;
    }
  
      #menu li a
      {
        display:block;
        _width:0px;
        height:20px;
        white-space:nowrap;
        padding-left:10px;
        padding-right:10px;
        color:#1C85C7;
        text-decoration:none;
        font-size:12px;
        padding-top:13px;
        line-height:13px;
      }
    
      #menu li#openAnAccount a
      {
        color:#FFF;
      }
      
      #menu li#clientLogin a
      {
        background-image:url('content/images/lock_icon.png');
        background-repeat:no-repeat;
        background-position:10px 13px;
      }
    
    #menu li.expanded:hover
    {
      height:47px;
      background-image:url('content/images/item_background_expanded.png');
    }
    
      #menu li.expanded:hover ul
      {
        display:block;
      }

  #menu li ul
  {
    position:absolute;
    display:none;
    top:35px;
    list-style:none;
    margin-left:10px;
  }
  
    #menu li ul li
    {
      position:relative;
      display:inline;
      height:52px;
      padding:0px;
      margin:0px;
      text-indent:0px;
      background:none;
      border:none;
      background-image:url('content/images/separator.png');
      background-repeat:no-repeat;
      background-position:right 20px;
    }
    
      #menu li ul li:hover
      {
        border:none;
        height:52px;
      }
    
    #menu li ul li a
    {
      display:block;
      height:35px;
      padding-top:23px;
      font-size:11px;
      color:#666;
    }
    
      #menu li ul li a:hover
      {
        color:#1C85C7;
      }
      
      #menu li ul li:hover .description
      {
        display:block;
      }

#menu li .description
{
  position:absolute;
  display:none;
  width:200px;
  top:60px;
  left:0px;
  padding:20px;
  font-size:12px;
  background-color:#333;
  z-index:10000;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  color:#E0E0E0;
  text-shadow:none;
}