#tickerInfo
{
  position:absolute;
  display:table;
  margin-top:1px;
  margin-left:1px;
  height:40px;
  padding-right:30px;
  text-indent:20px;
  line-height:40px;
  background-image:url('content/images/timestamp_background.gif');
  background-repeat:no-repeat;
  background-position:right center;
  color:#999;
  z-index:1;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
}

.ticker
{
  position:relative;
  width:998px;
  border:1px solid #C0C0C0;
  list-style:none;
  overflow:hidden;
}

  .ticker li
  {
    border-top:1px solid #E0E0E0;
    padding:20px;
  }
  
    .ticker li a span{
      color:#999;
    }
  
  .ticker .container
  {
    display:table;
    position:relative;
    list-style:none;
    color:#999;
  }
  
    .ticker .container li
    {
      display:inline-block;
      float:left;
      white-space:nowrap;
      text-align:right;
      padding:10px;
      padding-left:800px;
      border:none;
    }
    
      .ticker .container li:hover
      {
        color:#444;
      }

.rss
{
  position:absolute;
  width:60px;
  height:40px;
  margin-left:938px;
  line-height:40px;
  text-indent:-5000px;
  overflow:hidden;
  background-image:url('content/images/rss_icon.png');
  background-repeat:no-repeat;
  background-position:center center;
  z-index:1000;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
}

  .rss a
  {
    display:block;
    width:100%;
    height:100%;
  }