.news
{
  width:100%;
  list-style: none outside;
}

  .news #first, .new
  {
    width:100%;
    padding:10px;
    border-top:none
  }
    
    .news #first h3, .new h3
    {
      font-size:25px;
    }
    
    .news #first h4, .new h4
    {
      color:#1C85C7;
      font-size:18px;
      margin-bottom:8px;
    }
    
    .news .thumb
    {
      width:75px;
      height:50px;
      float:left;
      margin-right:15px;
      background-position:center center;
      border:1px solid #C0C0c0;
    }
    
    .news #first .thumb
    {
      width:150px;
      height:100px;
    }
    
    .news h4 span, .new h4 span
    {
      font-size:200%;
      margin-right:-10px;
    }
    
  
  .news li
  {
    position:relative;
    display:inline;
    float:left;
    width:30%;
    min-height:180px;
    margin-top:10px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    border-top:1px dotted #C0C0C0;
  }
    
    .news li h3
    {
      font-size:15px;
    }
    
    .news li h4
    {
      color:#1C85C7;
      font-size:12px;
      margin-bottom:0px;
    }
    
    .news li a
    {
      position:absolute;
      right:15px;
      bottom:10px;
    }
    
      .news li a:hover, .new a:hover
      {
        background-color:#E1EEF1;
      }
      
      
.new
{
  display:table;
  width:100%;
}
  
  .new h3
  {
    border-bottom:1px dotted #C0C0C0;
    padding-bottom:10px;
    margin-bottom:20px;
  }
  
  .new img
  {
    float:right;
    margin-left:15px;
    margin-bottom:15px;
    border:1px solid #C0C0C0;
  }