.slideshow
{
  display:block;
  width:100%;
  z-index:-1;
  list-style:none;
  list-style-position:outside;
}
  
  .slideshow li
  {
    display:block;
    width:1000px;
    height:225px;
  }
  
    .slideshow li *
    {
      display:none;
      text-indent:-5000px;
      overflow:hidden;
    }
      
      .slideshow li#defaultSlide img
      {
        display:block;
      }
      
        .slideshow li#defaultSlide a
        {
          border:1px solid red !important;
        }
    
    .slideshow li .image
    {
      display:block;
      width:100%;
      height:100%;
    }