.widget {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 1em;
  background-color: #f2f2f2;
  background-image: url('content/images/widget_background.png');
  background-repeat: no-repeat;
  border: 1px solid #C0C0C0
}


.widget .title {
  width:100%;
  height: 43px;
  font-size: 13px;
  text-indent: 15px;
  color: #FFF;
  text-indent: -5000px;
  overflow: hidden;
  background-image: url('content/images/currency_converter_header.png');
  background-repeat: no-repeat;

}
.widget h4 {
  font-size: 9px;
}

.fieldswrapper
{
  width:255px;
  margin:2em auto;
}

.col1
{
  float:left;
  width:110px;
}
.col2
{
  float:right;
  width:110px;
}

.widget .selector,.widget input#left,.widget input#right {
  position: relative;
  display: block;
  width: 110px;
  height: 30px;
  padding: 0px;
  margin-bottom:1.3em;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border: none;
  background-color: transparent;
  background-image: url('content/images/widget_input.png');
  background-repeat: no-repeat;
}

* html .widget .selector
{
  background-image:none;
}



.widget input#left,.widget input#right {
  background-image: none;
  background-color: #FFF;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  height: auto;
  width: 105px;
  padding: .5em 0;
  margin-bottom:0;
}
.widget .selector select {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border: 1px solid #FFF;
  opacity: 0;
  filter: alpha(opacity = 0);
  moz-opacity: 0.5;
  z-index: 100;
}


.widget .selector span {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  text-indent: -15px;
  background-image: url('content/images/widget_selector.png');
  background-repeat: no-repeat;
  background-position: 90% center;
}

.widget #disclaimer {
  position: relative;
  clear: both;
  top: 10px;
  color: #888;
  text-align: right;
  font-size: 11px;
}
.widget #disclaimer h4 {
  position: relative;
  margin-bottom: 0px;
  right: 18px;
}
.widget #disclaimer p {
  text-align: left;
}
.spinner {
  position: absolute;
  top: 136px;
  left: 118px;
}

* html .spinner
{
  margin-left:-14px;
}