/* Basic layout */

body 		
{ 
   background-position: top left;
   background-repeat: repeat-y;
   padding:0 !important;
   margin:0;
   width:auto !important;
   background-color:#D3D4D3;
}



/* Fonts */

body, table, td, select, textarea, input  { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
}

a { 
	color:#0088CC;
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
	bottom: auto;
}



/* Tabs */

.tab-s, .tab-u, .tab-g, .tab-r {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.tab-s:hover, .tab-u:hover, .tab-g:hover, .tab-r:hover {
	text-decoration: underline;
}

.tab-s {
	color: #0066CC;
}

.tab-u {
	color: #FFFFFF;
}

.tab-g {
	color: #666666;
}

.tab-r {
	color: #3366FF;
}

.tab-n {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.tab-n:hover {
	text-decoration: underline;
}



/* Form elements */

select.flat, textarea.flat, input.flat, 
select.comp, textarea.comp, input.comp,
textarea.code { 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

select.flat, textarea.flat, input.flat,
textarea.code { 
	border-color : #888888;
}

select.comp, textarea.comp, input.comp { 
	border-color : #990000;
}

textarea.code, textarea.code-gray {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 12px; 
	line-height: 15px; 
}

textarea.code-gray {
	border-style: solid;
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	color: #808080;
}

/* Custom */

.phpAdsNew { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 24px; 
	font-style: italic; 
	font-weight: bold; 
	color: #FFFFFF; 
}

.nav { 
	color: #003399; 
}

.install { 
	line-height: 18px;
	color: #000066; 
}
.Common-Text{
	font-family: Verdana;
	font-size: 12pt;
	font-weight: normal;
	font-variant: normal;
};



.TBtn-Sort{
				BACKGROUND: #84AAD6;								
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				BORDER-COLOR: #295594;
				BORDER-WEIGHT: bold;				
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: bold;
				COLOR: #ffffff;
				HEIGHT: 22px;
				TEXT-DECORATION: none;
				WIDTH: 40px;
};

		


			.Select-Box
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 130px;
				TEXT-DECORATION: none;
				WIDTH: 208px;
			}
			.Login
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 140px;
			}			
			
				
			.TextBox
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #FFF300;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 10pt;
				FONT-WEIGHT: bold;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 140px;
			}
.Common-Text{
	font-family: Verdana;
	font-size: 12pt;
	font-weight: normal;
	font-variant: normal;
};



.TBtn-Sort{
				BACKGROUND: #84AAD6;								
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				BORDER-COLOR: #295594;
				BORDER-WEIGHT: bold;				
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: bold;
				COLOR: #ffffff;
				HEIGHT: 22px;
				TEXT-DECORATION: none;
				WIDTH: 40px;
};

		


			.Select-Box
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 130px;
				TEXT-DECORATION: none;
				WIDTH: 208px;
			}
			.Login
			{
				BACKGROUND: #ffffff;
				BORDER-BOTTOM: #D2D2D2 1px solid;
				BORDER-LEFT: #D2D2D2 1px solid;
				BORDER-RIGHT: #D2D2D2 1px solid;
				BORDER-TOP: #D2D2D2 1px solid;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				HEIGHT: 18px;
				TEXT-DECORATION: none;
				WIDTH: 140px;
			}			
			
			.Button
			{
				BACKGROUND: #A9DBF6;
				COLOR: #000000;
				FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
				FONT-SIZE: 8pt;
				FONT-WEIGHT: normal;
				TEXT-DECORATION: none;
			}			
			
	.monexYellow
	{
		BACKGROUND: url(emts2.gif);	
	}	
	
	.monexOrange
	{
		BACKGROUND: RGB(255, 153, 0);		
	}	
	
	.monexLightOrange		
	{
		BACKGROUND-COLOR: RGB(255, 245, 232);
	}	
	
	.topbar
	{
	  FONT-SIZE: 10pt;
	  FONT-WEIGHT: bold;
	}
	span.error, label.error{
		color:#d00;
	}
	label.error{
		display:inline-block;
		margin-left:5px;
	}
.bgColor{
	background:#87A6CF;
}
.border{
	border:1px solid #555;
}
h1,h2,h3{
	margin:5px 0;
}
.tablebg{
	background:#eee;
}
a{
	
	margin:0 5px;
	display:inline-block;
}
.main
{
	background-color:#fdfdfd;
	border:1px solid #000;
	padding:10px;
	width:940px;
	margin:0 auto;
}
.dropdown
{
	min-width: 300px;
	max-width: 350px;
	width : 350px;
}
table tr td label{
	font-weight:bold;
	display:inline-block;
}
input{
	display:inline-block;
}
.info{
	font-weight:bold;
}

.left{
	float:left;
}
.right{
	float:right;
}
.inblock{
	display:inline-block;
}
.users{
	background-color: #D3C9C9;
    border: 1px solid #000000;
    right: 0;
    position: absolute;
    top: 0;
	width:210px;
	padding-bottom:10px;
}
.users select{
	height:100px;
	width:190px;
	margin:0 10px 10px 10px;
}
.users_cont{
	position:relative;
	float:right;
	margin-left:20px;
	display:none;
}
.close{
	color:#000;
}
.close:focus{
	outline:none;
}
.close:hover{
	text-decoration:none;
}
.users p{
	color:#000;
	margin:0 10px 10px 10px;
	font-weight:bold;
}
.isolate{
	margin-bottom:5px;margin-right:5px;
}
.success{
	color:#367200;
	font-weight:bold;
}
.error{
	color:#D81900;
	font-weight:bold;
}
table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0}
.table{width:100%;margin-bottom:20px;margin-left:auto;margin-right:auto;}
.table th,.table td{line-height:20px;text-align:left;vertical-align:middle;border-top:1px solid #ddd;padding:5px}
.table thead th{vertical-align:bottom}
.table tbody + tbody{border-top:2px solid #ddd}
.cust_width{
	width:500px !important;
}
.align_center{
	text-align:center !important;
}
select,textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input{display:inline-block;height:25px;margin-bottom:5px;font-size:12px;line-height:20px;color:#555;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:4px 6px}
input,textarea,.uneditable-input{width:206px;margin-left:0}
textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input{background-color:#fff;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear .2s, box-shadow linear .2s;-moz-transition:border linear .2s, box-shadow linear .2s;-o-transition:border linear .2s, box-shadow linear .2s;transition:border linear .2s, box-shadow linear .2s}
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=date]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus,input[type=number]:focus,input[type=email]:focus,input[type=url]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=color]:focus,.uneditable-input:focus{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
input[type=radio],input[type=checkbox]{line-height:normal;cursor:pointer;margin:1px \9 0 0 0}
select,input[type=file]{height:30px;line-height:30px}
select{width:220px;border:1px solid #ccc;background-color:#fff}
.uneditable-input,.uneditable-textarea{color:#999;background-color:#fcfcfc;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);cursor:not-allowed;border-color:#ccc}
.uneditable-input{overflow:hidden;white-space:nowrap}
.uneditable-textarea{width:auto;height:auto}
.radio,.checkbox{min-height:20px;padding-left:20px}
.radio input[type=radio],.checkbox input[type=checkbox]{float:left;margin-left:-20px}
.radio.inline,.checkbox.inline{display:inline-block;padding-top:5px;margin-bottom:0;vertical-align:middle}
.input-small{width:90px}
.input-medium{width:150px}
.input-large{width:350px}
.input-xlarge{width:270px}
.input-xxlarge{width:530px}
.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#d9d9d9}
.btn:hover{color:#333;text-decoration:none;background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn.active,.btn:active{background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-large{font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:11px 19px}
.btn-small{font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:2px 10px}
.btn-mini{font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:1px 6px}
.btn-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a:focus,select:focus,input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus,.btn:focus{outline:5px auto 0;outline-offset:-2px}
a:hover,a:active,.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle,.dropdown-toggle:active,.open .dropdown-toggle{outline:0}
button::-moz-focus-inner,input::-moz-focus-inner,button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{border:0;padding:0}
.btn{display:inline;zoom:1;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-image:linear-gradient(tobottom,#ffffff,#e6e6e6);background-repeat:repeat-x;background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);border-color:rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);padding:4px 12px}
.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#d9d9d9}
.btn:hover{color:#333;text-decoration:none;background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn.active,.btn:active{background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block{width:100%}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-image:linear-gradient(tobottom,#0088cc,#0044cc);background-repeat:repeat-x;background-color:#04c;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#003bb3}
.btn-primary:active,.btn-primary.active{background-color:#039 \9}
.btn-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-image:linear-gradient(tobottom,#fbb450,#f89406);background-repeat:repeat-x;background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#fff;background-color:#df8505}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9}
.btn-danger{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-image:linear-gradient(tobottom,#ee5f5b,#bd362f);background-repeat:repeat-x;background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#fff;background-color:#a9302a}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9}
.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-image:linear-gradient(tobottom,#62c462,#51a351);background-repeat:repeat-x;background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#499249}
.btn-success:active,.btn-success.active{background-color:#408140 \9}
.btn-info{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-image:linear-gradient(tobottom,#5bc0de,#2f96b4);background-repeat:repeat-x;background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#2a85a0}
.btn-info:active,.btn-info.active{background-color:#24748c \9}
.btn-inverse{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-image:linear-gradient(tobottom,#444444,#222222);background-repeat:repeat-x;background-color:#222;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.table-condensed th,.table-condensed td{padding:4px 5px}
.table-bordered{border:1px solid #ddd;border-collapse:collapse;border-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.table-bordered th,.table-bordered td{border-left:1px solid #ddd}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child,.table-bordered tfoot:last-child tr:last-child td:first-child{-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px}
.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child,.table-bordered tfoot:last-child tr:last-child td:last-child{-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px}
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th{background-color:#eee}
table td[class*=span],table th[class*=span],.row-fluid table td[class*=span],.row-fluid table th[class*=span]{display:table-cell;float:none;margin-left:0}
.table tbody tr.success td{background-color:#dff0d8}
.table tbody tr.error td{background-color:#f2dede}
.table tbody tr.warning td{background-color:#fcf8e3}
.table tbody tr.info td{background-color:#d9edf7}
.table-hover tbody tr.success:hover td{background-color:#d0e9c6}
.table-hover tbody tr.error:hover td{background-color:#ebcccc}
.table-hover tbody tr.warning:hover td{background-color:#faf2cc}
.table-hover tbody tr.info:hover td{background-color:#c4e3f3}
.well{min-height:20px;margin-bottom:10px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);padding:15px}
.well blockquote{border-color:rgba(0,0,0,0.15)}
.well-large{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:24px}
.well-small{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:5px}
td .tooltipcontainer {
    /*position: relative;*/
	
	opacity:100;
	background-color:#000;
	background:center;
	
	padding-right:20px;padding-left:20px;zoom:1
}
td .tooltip {
    display: none;
    position: absolute;
	height:auto;
	width:auto;
    /* More positioning, heigh, width, etc */
}
td:hover .tooltip {
    display: block;
	background-color:#999;
	color:#000;
}

