/* CSS Document */
.pageHeading
{
	font-size:10pt;
	font-weight:bold;
}

.fieldLable
{
	color:#005b90;
	font-weight:bold;
}

.requiredFieldSign
{
	color:#ff0000;
}

.formError
{
	font-weight:bold;
	color:#990000;
}

.successMessage
{
	font-weight:bold;
	color:#009933;
}

.tableHeading
{
	background-color:#c0c0c0;
	color:#FFFFFF;
	font-weight:bold;
}

.link1
{
	color:#3366CC;
	font-weight:bold;
}

.redText
{
	color:#990000;
	font-weight:bold;
}

.greenText
{
	color:#009933;
	font-weight:bold;
}

.altRow1
{
	background:#F2F2F2;
}

.altRow2
{
	background:#E1E1E1;
}