/** CSS Document **/

body, th, td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a {
	color: #6699CC;
	text-decoration: none;
}

select {
	font-size: 11px;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}

.list {
	border-bottom: solid 1px #CCCCCC;
}

#boundingBox {
	border: solid 1px #000000;
}

.pageTitle {
	font-size: 16px;
	font-weight: bold;
}

.reportHeader {
	font-size: 12px;
	font-weight: bold;
}

	td.reportHeader {
		background-color: #EEEEEE;
	}

.optGroup {
	font-size: 12px;
	font-style:normal; 
	font-weight:bold;
}

.statusMessage {
	font-weight: bold;
	color: #FF0000;
}

.inputBoxesNumerics {
	text-align: right;
	width: 70px;
	font-size: 11px;
}

.inputBoxesText {
	width: 255px;
	font-size: 11px;
}

.dropDownList {
	width: 200px;
}

.buttonsToolbar {
	background-color: #EEEEEE;
}

.errorMessage {
	color: #FF0000;
	font-weight: bold;
	font-size: 12px;
}

.successMessage {
	color: #009900;
	font-weight: bold;
	font-size: 12px;
}

.mandatory {
	color: #FF0000;
	font-weight: bold;
	font-size: 12px;
}

.description {
	color: #666666;
}
