q@charset "utf-8";

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

div.main{
background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 630px;
	width:100%;
}

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
	box-sizing: border-box;
	margin:0px auto;

&:before,
&:after {
	 box-sizing: border-box;
 }

}

body {
	color: #606468;
	font: 87.5%/1.5em 'Open Sans', sans-serif;
	margin: 0;
}

a {
	font-weight: bold;
	font-size: 13px;
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

input {
	border: 1px solid;
	border-color: #009688;


	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
	*zoom: 1;

&:before,
&:after {
	 content: ' ';
	 display: table;
 }

&:after {
	 clear: both;
 }

}

.container {
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
	display:inline-block;
	width:40%;
}
#login{
	border-right:1px solid #000;
	padding: 0px 22px;
	width: 59%;
}
.logo{
	color:#fff;
	font-size:50px;
	line-height: 120px;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 15px 0px 0px 15px;
	border: 1px solid;
	color: #009688;
	display: block;
	float: left;
	height: 50px;
	font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}
fieldset{
	padding:0;
	border:0;
	margin: 0;

}
#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 15px 15px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #000000;
	color: #eee;
	font-weight: bold;
	/* margin-bottom: 2em; */
	text-transform: uppercase;
	padding: 5px 10px;
	height: 30px;
}

#login form input[type="submit"]:hover {
	background-color: #009688;
	color: #fff;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
	display: flex;
	width: 600px;
}