.introducer{
	background-color: #009688;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
div.fa{
	background-color: #fff;
    border-radius: 10px;
    border: 1px solid;
    color: #009688;
    display: block;
	float: left;
    height: 50px;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
    width: 50px;
	margin-top:-25px;
}
.submit-button{
	background-color: #000 !important;
	color: #fff;
	display: block;
	height: 40px;
	margin-left: 570px;
}
.submit-button:hover{
	background-color: #009688 !important;
	color: #fff !important;
}