.quick-search{
	background-color: #009688;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.search{
	background-color: #009688;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	width: 50%;
	margin:auto;
}
.form{
	width: 50%;
	margin: auto;
}
.text-search{
	padding: 16px;
	height: 50px;
	width: 200px;
	border-color: #009688;
	border-radius: 0 15px 15px 0;
}
span.fa{
	background-color: #fff;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid;
    color: #009688;
    display: block;
	float: left;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.group-span-input{
	width: 250px;
	margin-left: 40px;
}
#searchBy{
	height: 40px;
	margin-top: -45px;
	margin-left: 150px;
}
.submit-button{
	background-color: #000;
	color: #fff;
	display: block;
	height: 40px;
	margin-top: -45px;
	margin-left: 590px;
}
.submit-button:hover{
	background-color: #009688 !important;
	color: #fff !important;
}
.submenu{
	background-color: #009688;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	width: 90%;
	margin: auto;
}
.heading{
	font-size: 20px;
	font-weight: bold;
}
.content{
	font-size: 14px;
	font-weight: bold;
}
a:hover{
	color: #009688 !important;
}
.row{
	width: 90%;
}
.center{
	margin-left: 100px;
}













/* dropdown

.dropdown-submenu {

}

.dropdown-submenu>.dropdown-menu {
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	margin-left: 10px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}
.dropdown{
	background-color: #000 ;
	width: 100px;
}
.dropdown:hover{
	background-color: #009688;
}
.record-lightgray{
	background-color: #ccc;
	padding: 5px;
	font-size: 16px;
}
.record-gray{
	background-color: #ddd;
	padding: 3px;
	font-size: 14px;
} */