/* GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Cabin);

/* BOF STANDARD STUFF */

* {
	color:#9d9d98;
	font-family:'PT Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight:400;
	font-size:13px;
	line-height:20px;
	letter-spacing:0;
	/* CHROME! STOP IT */
	resize:none;
	outline:none;
}

a {
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

body {
	background:url(../images/premier/formImages/ui/bg_body.gif) left top #9d9d98;
	margin:0px;
	padding:0px;
}

input, select, option, textarea{

	line-height:normal;
}

fieldset {
	background:#f9f9f9;
	border:none;
	margin:0px 0px 20px 0px;
	padding:19px;
}
fieldset legend {
	font:normal 16px 'PT Sans';
	line-height:20px;
	margin:0;
	padding:0;
	position:relative;
	top:19px;
}

form {
	margin:0px;
}

h1 {
	color:#e6a300;
	font-family:'Cabin';
	font-size:20px;
	font-weight:400;
	line-height:20px;
	margin:0px 0px 15px 0px;
}

h2 {
	color:#e6a300;
	font-family:'Cabin';
	font-size:16px;
	font-weight:400;
	line-height:16px;
	margin:0px 0px 5px 0px;
}

h3 {
	color:#e6a300;
	font-family:'Cabin';
	font-size:15px;
	font-weight:400;
	line-height:15px;
	margin:0px 0px 10px 0px;
}

hr {
	background:#c4c4c1;
	border:0px;
	border-top:1px solid #c4c4c1;
	clear:both;
	color:#c4c4c1;
	height:0px;
	margin:20px 0px 20px 0px;
}

img {
	border:0px;
}

ul {
	list-style-image:url(../images/premier/formImages/ui/bull.png);
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
}

ol {
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
}

ol li {
	color:#e6a300;
	font-weight:bold;
}

ol li p {
	color:#9d9d98;
	font-weight:normal;
	margin:0px;
}

li {
	line-height:20px;
	margin:0px 0px 5px 0px;
	padding:0px;
}


p {
	margin:0px 0px 15px 0px;
}

span {
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}

small {
	font-size:12px;
}

strong {
	color:inherit;
	font-size:inherit;
	font-weight:700;
	line-height:inherit;
}

u {
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
	text-decoration:underline;
}

/* EOF STANDARD STUFF */


/* BOF NAMED DIV CLASSES */

#body {
	background:url(../images/premier/formImages/ui/bg_body_top.gif) left top repeat-x;
}

#box {
	height:auto;
	width:300px;
}

#box div.btm {
	background:url(../images/premier/formImages/ui/bg_box_btm.png) left top no-repeat;
	height:30px;
	width:300px;
}

#box div.cntnt {
	background:url(../images/premier/formImages/ui/bg_box_mid.png) left top repeat-y;
	height:auto;
	padding:0px 30px 0px 30px;
	width:240px;
}

#box div.top {
	background:url(../images/premier/formImages/ui/bg_box_top.png) left top no-repeat;
	height:30px;
	width:300px;
}

#box_sml {
	height:auto;
	margin:0px 35px 0px 35px;
	width:210px;
}

#box_sml div.btm {
	background:url(../images/premier/formImages/ui/box_sml_btm.png) left top no-repeat;
	height:30px;
	width:300px;
}

#box_sml div.cntnt {
	background:url(../images/premier/formImages/ui/box_sml_mid.png) left top repeat-y;
	height:auto;
	padding:5px 20px 10px 20px;
	width:170px;
}

#box_sml div.cntnt ul {
	margin:0px 0px 0px 0px;
}

#box_sml div.top {
	background:url(../images/premier/formImages/ui/box_sml_top.png) left top no-repeat;
	height:15px;
	width:210px;
}

#box_ylw {
	height:auto;
	margin:0px 0px 30px 35px;
	width:210px;
}

#box_ylw div.btm {
	background:url(../images/premier/formImages/ui/bg_ybox_btm.png) left bottom no-repeat;
	height:20px;
	width:300px;
}

#box_ylw div.cntnt {
	background:url(../images/premier/formImages/ui/bg_ybox_mid.png) left top repeat-y;
	height:auto;
	padding:0px 20px 5px 20px;
	width:170px;
}

#box_ylw div.cntnt ul {
	margin:0px 0px 0px 0px;
}

#box_ylw div.top {
	background:url(../images/premier/formImages/ui/bg_ybox_top.png) left top no-repeat;
	height:20px;
	width:210px;
}

#page {
	background:url(../images/premier/formImages/ui/bg_cntnt_top.gif) left top no-repeat;
	height:auto;
	width:1020px;
}

#cntnt {
	background:#ffffff;
	height:auto;
	margin:0px auto;
	width:1000px;
}

#cntnt_btm {
	background:url(../images/premier/formImages/ui/bg_cntnt_btm.gif) left top no-repeat #9d9d98;
	height:20px;
	width:1020px;
}

#credits {
	border-top:1px solid #c4c4c1;
	height:50px;
	margin:40px 0px 0px 0px;
}

#credits p {
	color:#d8d8d6;
	font-size:12px;
	line-height:50px;
}

#ftr {
	background:url(../images/premier/formImages/ui/bg_cntnt_mid.gif) left top repeat-y;
	height:auto;
	width:1020px;
}

#ftr #cntnt {
	background:url(../images/premier/formImages/ui/bg_ftr.gif) left top repeat-x #9d9d98;
	margin:0px auto;
	padding:40px 40px 0px 40px;
	width:920px;
}

#hdr {
	background:url(../images/premier/formImages/ui/bg_hdr.gif) left top repeat-x;
	height:40px;
	width:1020px;
}

#hdr ul {
	float:right;
	height:27px;
	list-style:none;
	margin:3px 0px 0px 0px;
}

#hdr ul li {
	color:#ffffff;
	float:left;
	height:19px;
	line-height:11px;
	margin:0px 7px 0px 7px;
	padding:3px 0px 3px 0px;
	text-transform:uppercase;
}

#l_nav li.curr {
	font-weight:bold;
	color:#e6a300;
}

#login {
	background:url(../images/premier/formImages/ui/bg_login.gif) left top no-repeat;
	float:right;
	height:40px;
	margin:0px 50px 0px 0px;
	padding:0px 10px 0px 10px;
	width:190px;
}

#logo_nav {
	height:110px;
	margin:0px auto;
	width:930px;
}

#logo_nav #logo {
	margin:25px 5px;
}

#logo_nav #nav {
	float:right;
	list-style:none;
	margin:25px 0px 0px 0px;
	padding:0px;
}

#logo_nav #nav li {
	background:url(../images/premier/formImages/ui/bg_mnu_m.gif) left top repeat-x;

	float:left;
	height:30px;
	line-height:20px;
	margin:0px;
	padding:10px 10px 0px 10px;
	position:relative;
	text-transform:uppercase;
}

#logo_nav #nav li:hover {
	background:url(../images/premier/formImages/ui/bg_mnu_m_ovr.gif) left top repeat-x;
	color:#ffffff;
}

#logo_nav #nav li a, #logo_nav #nav li a:hover {
	text-decoration:none;
}

#logo_nav #nav li.btn div {
	height:16px;
	margin:2px 0px 0px 0px;
	overflow:hidden;
	width:15px;
}

#logo_nav #nav li.btn div img {
	position:relative;
}

#logo_nav #nav li.btn:hover {
	background:url(../images/premier/formImages/ui/bg_mnu_m.gif) left top repeat-x;
}

#logo_nav #nav li.l {
	background:url(../images/premier/formImages/ui/bg_mnu_l.gif) left top no-repeat;
	padding:10px 0px 0px 0px;
	width:17px;
}

#logo_nav #nav li.r {
	background:url(../images/premier/formImages/ui/bg_mnu_r.gif) left top no-repeat;
	padding:10px 0px 0px 0px;
	width:17px;
}

#logo_nav #nav #sub_nav {
	display:none;
	left:-10px;
	list-style:none;
	padding:0px;
	position:absolute;
	margin:0px;
	top:35px;
	z-index:2001;
}

#logo_nav #nav li:hover #sub_nav {
	display:block;
}

#logo_nav #nav #sub_nav li {
	background:url(../images/premier/formImages/ui/dd/mr.png) right top repeat-y;

	height:30px;
	line-height:30px;
	margin:0px;
	padding:0px 0px 0px 0px;
	text-transform:none;
	width:100%;
}

#logo_nav #nav #sub_nav li div {
	background:url(../images/premier/formImages/ui/dd/ml.png) left top repeat-y;

	height:30px;
	margin:0px 15px 0px 0px;
	padding:0px 0px 0px 15px;
	text-transform:none;
	white-space:nowrap;
}

#logo_nav #nav #sub_nav li div p{
	line-height:20px;
	padding:5px 5px 5px 5px;
}

#logo_nav #nav #sub_nav li:hover div p{
	background:#e6a200;
	color:#ffffff;
}

#logo_nav #nav #sub_nav li.top {
	background:url(../images/premier/formImages/ui/dd/tr.png) right top repeat-y;
	height:18px;
}

#logo_nav #nav #sub_nav li.top div {
	background:url(../images/premier/formImages/ui/dd/tl.png) left top repeat-y;
	height:18px;
}

#logo_nav #nav #sub_nav li.btm {
	background:url(../images/premier/formImages/ui/dd/br.png) right top repeat-y;
	height:15px;
}

#logo_nav #nav #sub_nav li.btm div {
	background:url(../images/premier/formImages/ui/dd/bl.png) left top repeat-y;
	height:15px;
}

#main {
	background:url(../images/premier/formImages/ui/bg_cntnt_mid.gif) left top repeat-y;
	margin:0px auto 30px auto;
	width:1020px;
}

#nl {
	background:url(../images/premier/formImages/ui/bg_nl.png) left top no-repeat;
	height:40px;
	width:920px;
}

#nl input {
	background:#ffffff;
	border:0px;
	color:#e6a300;
	line-height:30px;
	margin:5px 0px 5px 5px;
	padding:0px 5px 0px 5px;
	height:30px;
	width:540px;
}

#nl div.btn {
	height:30px;
	margin:5px;
	width:115px;
}

#nl p.l {
	font-size:14px;
	padding:11px 0px 9px 15px;
	width:225px;
}

#sitemap {
	margin:0px 0px 0px 0px;
}

#sitemap ul {
	float:left;
	list-style:none;
	margin:0px 40px 0px 0px;
	padding:0px;
}

#sitemap ul li {
	color:#fff;
	height:20px;
	margin:0px;
	padding:0px;
}

#sitemap ul li.hdr {
	color:#febf01;
}

#slideshow {
	background:url(../images/premier/formImages/ui/bg_ss.png) left top no-repeat;
	height:320px;
	margin:0px auto;
	width:920px;
}

#slideshow ul {
	height:310px;
	list-style:none;
	margin:0px auto;
	padding:5px 0px 0px 0px;
	width:910px;
}

#slideshow ul li {
	float:left;
	height:310px;
	overflow:hidden;
	padding:0px;
	width:50px;
}

#slideshow ul li img {
	position:relative;
}

#slideshow ul li.curr {
	float:left;
	height:310px;
	overflow:hidden;
	padding:0px;
	width:810px;
}

#slideshow ul li.curr img {
	left:-50px;
}

/* EOF NAMED DIV CLASSES */


/* BOF DOT CLASSES */
div.body_text {
	padding:0px 0px 0px 0px;
}
div.body_text_gry {
	background:#e6e6e5;
	padding:40px 40px 40px 40px;
}

div.btn {
	cursor:pointer;
	overflow:hidden;
	position:relative
}

div.btn img {
	margin:0px 0px 0px 0px;
	position:relative;
	top:0px;
}

div.btn p {
	color:#ffffff;
	font-size:14px;
	left:0px;
	line-height:29px;
	margin:0px 0px 0px 11px;
	position:absolute;
	top:0px;
	z-index:2;
}

div.btn_def {
	background:url(../images/premier/formImages/ui/btn_def_r.png) right 0px no-repeat;
	display:inline-block;
	height:32px;
	margin:0px;
	padding:0px 26px 0px 0px;
}

div.btn_def p {
	background:url(../images/premier/formImages/ui/btn_def_l.png) left 0px no-repeat #cfc;
	color:#ffffff;
	font-size:15px;
	height:32px;
	line-height:32px;
	margin:0px;
	padding:0px 8px 0px 10px;
	white-space:nowrap;
}

div.btn_def p a {
	padding:8px 0px 8px 0px;
}

div.btn_def p a:hover {
	text-decoration:none;
}

div.btn_def:hover {
	background-position:right -32px;
	cursor:pointer;
}

div.btn_def:hover p {
	background-position:left -32px;
}

div.enq_form {
	border:1px solid #cccccc;
	float:left;
	margin:0px 0px 0px 0px;
	padding:19px;
	width:659px;
}

div.enq_form input {
	background:#ffffff;
	border:1px solid #cccccc;
	height:28px;
	line-height:28px;
	margin:0px 0px 0px 0px;
	padding:0px 7px 0px 7px;
}

div.enq_form input.err, div.enq_form textarea.err {
	border:1px solid #e6a300;
}

div.enq_form select {
	background:#ffffff;
	border:1px solid #cccccc;
	height:30px;
	line-height:30px;
	margin:0px 0px 0px 0px;
	padding:4px 4px 4px 4px;
}

div.enq_form textarea {
	background:#ffffff;
	border:1px solid #cccccc;
	margin:0px 0px 0px 0px;
	overflow:auto;
	padding:7px 7px 7px 7px;
}

div.enq_form ul li {
	height:50px;
	margin:0px 0px 20px 0px;
}

div.enq_form label {
	color:#e6a300;
	display:block;
	line-height:9px;
	margin:0px;
	padding:0px 0px 10px 0px;
}

div.enq_form ul li p.err {
	background:url(../images/premier/formImages/ui/ico_err.png) left top no-repeat;
	padding:0px 0px 10px 20px;
}

div.enq_form ul li div {
	float:left;
}

div.enq_form ul {
	list-style:none;
	padding:0px;
}

.gry {
	color:#9d9d98;
	/*background:#e6e6e5;*/
}

hr.wht {
	background:#ffffff;
	border:0px;
	border-top:1px solid #ffffff;
	clear:both;
	color:#ffffff;
	height:0px;
	margin:20px 0px 20px 0px;
}

.l {
	float:left;
}

.nm {
	margin:0px;
}

.r {
	float:right;
}

.shim {
	clear:both;
	height:0px;
	margin:0px;
	overflow:hidden;
	padding:0px;
	width:0px;
}

.vr {
	background:url(../images/premier/formImages/ui/vr.png) top center repeat-y;
}

.wht {
	color:#ffffff;
}

ul.wht {
	list-style-image:url(../images/premier/formImages/ui/bull_white.png);
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
}

ul.wht li {
	color:#ffffff;
	line-height:20px;
	margin:0px 0px 5px 0px;
	padding:0px;
}

.ylw {
	color:#e6a300;
}

/* EOF DOT CLASSES */


/* Overrides by Ian Grindley - 30th August 2012 */
.row {
	clear:both;
	margin:0;
	padding:19px 0 0 0;
	width:100%;
}
.col {
	float:left;
	margin:0;
	padding:0;
	width:100%;
}
.col.nom {
	margin-right:0;
}
.c10 { width:10%; }
.c15 { width:15%; }
.c20 { width:20%; }
.c25 { width:25%; }
.c30 { width:30%; }
.c33 { width:33%; }
.c40 { width:40%; }
.c45 { width:45%; }
.c50 { width:50%; }
.c55 { width:55%; }
.c60 { width:60%; }
.c65 { width:65%; }
.c66 { width:66%; }
.c70 { width:70%; }
.c75 { width:75%; }
.c80 { width:80%; }
.c90 { width:90%; }

form label {
	height:20px;
	line-height:20px;
	margin:0;
	padding:0;
}
form label sup {
	display:inline;

}
form input {
	width:90%;
	margin-left:0;
	margin-right:0;
}
form select {
	height:36px;
}
form a.button {
	background:url('../images/premier/formImages/ui/btn-bg.png') 0 0 no-repeat;
	border:none;
	color:white;
	display:block;
	height:32px;
	line-height:32px;
	text-align:center;
	width:194px;
}
form a.button:hover {
	cursor:pointer;
}
form input.button {
	background:url('../images/premier/formImages/ui/btn-bg.png') 0 0 no-repeat;
	border:none;
	color:white;
	display:block;
	height:32px;
	line-height:32px;
	width:194px;
}
form input.button:hover {
	cursor:pointer;
}

form input.button.right {
	float:right;
}

#senderRegistrationForm .error{
	margin-top:2px;
}
div.dp-popup h2{
	color:#000;
}
div#dp-popup{
	width:185px;
}
div#dp-popup .dp-calendar, table.jCalendar, table.jCalendar td,.dp-nav-prev, .dp-nav-next{
	font-size:12px;
}
#passportNumber{
	text-transform:uppercase;
}
#msg{
	clear:both;
	overflow:hidden;
	font-weight:bold;
	text-align:center;
}